[2014-07-11 18:54] prat0318 opened #17 "Response breaks if it contains a field of datetime"
swagger-py tries to create default instance of `datetime`, but `datetime` doesn't have a zero args constructor.

[code]

[2014-07-14 19:44] prat0318 opened #19 "Swaggerpy asserts presence of non-required fields in params"
[code]

[2014-07-14 21:21] #19 closed, assigned to prat0318

[2014-07-15 01:45] prat0318 opened #22 "A way to include custom headers to SwaggerClient call"
There is no way to add custom headers to the request right now.

[2014-07-16 00:19] #22 closed, assigned to nobody

[2014-07-17 22:52] #17 closed, assigned to nobody

[2014-07-23 22:38] prat0318 opened #26 "Add support for 'form' request parameter"
This is what is scoped:
### Validations -
- if any `param`'s `paramType` is `form`, consumes MUST contain `application/x-www-form-urlencoded` OR `multipart/form-data`
- `form` parameters MUST be only of [primitive types](https://github.com/wordnik/swagger-spec/blob/master/versions/1.2.md#431-primitives) or [File](https://github.com/wordnik/swagger-spec/blob/master/versions/1.2.md#434-file) type.
-

[2014-07-24 01:39] prat0318 opened #27 "Validate consumes contains 'application/json' if request body is complex."
Valid:
[code]

[2014-07-28 22:21] prat0318 opened #28 "Plug default value to request param if not given during api call but present in swagger spec"

[2014-07-30 22:43] prat0318 opened #29 "Raise more detailed error information on 4XX"
raise_for_status() message is not carrying the server's error response.

[2014-07-31 22:40] prat0318 opened #31 "Add support for 'header' request parameter"

[2014-08-07 21:40] prat0318 opened #37 "Include HttpClient headers for /api-docs call as well."
Right now, /api-docs is fetched by a simple SynchronousHttpClient with no headers. Use headers of http_client if present for fetching it.

[2014-08-07 21:42] #37 closed, assigned to prat0318

[2014-08-07 21:45] #29 closed, assigned to prat0318

[2014-08-07 21:58] #28 closed, assigned to prat0318

[2014-08-08 20:46] prat0318 opened #39 "Add option to return back raw response from api call"
'raw_response' can be passed as a parameter to result() which will ignore any validations on response and return it raw.

[2014-08-08 21:11] #39 closed, assigned to prat0318

[2014-08-08 22:53] #26 closed, assigned to prat0318

[2014-08-15 20:46] prat0318 opened #42 "api_base_path if passed should override schema's basePath in all cases."
Right now, api_base_path is used only if schema's basePath starts with '/'.

If the user wants to alter the basePath during making API call and the basePath in the schema is absolute (like `http://localhost`), there is no way to do it.

[2014-08-15 21:04] #42 closed, assigned to prat0318

[2014-08-16 01:59] prat0318 opened #44 "Add option to wrap HTTP errors with custom exception class"

[2014-08-21 17:45] prat0318 opened #46 "get_client throws up if passed a swagger dict schema"
[code]

[2014-08-21 18:48] #46 closed, assigned to prat0318

[2014-10-14 00:08] wting opened #51 "Add swagger-py to Python package index (PyPI)."
Probably with the name `swagger-py`.

[2014-10-14 00:10] wting opened #52 "Rename 0.1.0 and 0.2.0 version tags."
Inconsistent with versioning format. I'll be doing this on 10/20/2014 unless someone protests.

[2014-10-15 18:39] jnb opened #60 "Validate swagger specs against the swagger spec json schema"
The Swagger spec has a [json schema](https://github.com/wordnik/swagger-spec/tree/master/schemas).  We should validate downloaded specs against this schema to make it easier to detect any errors.

[2014-10-22 21:22] #52 closed, assigned to wting

[2014-11-25 20:18] bpicolo opened #64 "Swaggerpy caches headers in the client cache"
Retrieving cached clients should definitely overwrite the headers being sent when they're retrieved.

[2014-11-26 19:12] #64 closed, assigned to nobody

[2014-12-03 18:59] creason opened #67 "Params passed in as unicode should be UTF-8 encoded for urllib"
Currently swagger-py passes query params directly to urllib.urlencode (swaggerpy/client.py line 169, in `__call__`). urllib doesn't support unicode objects; you must pass in a UTF-8 encoded string. Thus, if you pass unicode objects to swaggerpy you'll get a UnicodeEncodeError.

You could do the `.encode('UTF-8')` call manually in calling code, but that violates the general unicode handling rule of

[2014-12-03 22:12] ogrubes opened #68 "Calling result() on a list of futures"
If you declare a list of futures, and then later call result() on each future, swaggerpy will return a list of identical values corresponding to the last future created.

ex:
myfutures = [swaggerclient.myendpoint for elem in elem_list]
myresults = [future.result() for future in myfutures]

myresults will return a list of identical values, all equal to myfutures[-1].result()

[2014-12-08 17:15] bpicolo opened #70 "Sync requests can't actually be cancelled, so we shouldn't expose it"
It's a bit weird to have our single HTTPFuture that has methods that don't do anything for the synchronous case.

In addition, our "clients" are actually more of request factories at this point, so they don't really have the responsibility to wait or cancel the request.

See pull #69  for a bit of chat about this. We probably should rename our clients to factories and split up HTTPFuture for the c

[2014-12-08 20:29] #68 closed, assigned to nobody

[2014-12-09 20:31] bpicolo opened #71 "_request_options should be available for api-docs request"
Need to be able to pass similar _request_options to api docs requests

[2014-12-09 21:21] bpicolo opened #73 "Unify the way we handle api-doc requests with other requests"
SynchronousHttpClient shouldn't need the .request method. We should handle the api docs requests through the same requests code that we handle model requests.

[2014-12-16 00:13] #67 closed, assigned to nobody

[2014-12-22 17:19] bpicolo opened #76 "If you specify a base_url for resource loading, it ignores basePath in all the resources"
Seems like strange behavior to me. Might be worth taking a look at again at some point.

Edit: Actually, just ignores it always I'm pretty sure, though comments suggest otherwise = |

[2014-12-22 17:23] analogue opened #77 "Add support for the Swagger 2.0 spec"
[Swagger 2.0 Spec](https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md)

[2014-12-23 16:32] bpicolo opened #78 "Support Files properly"
swaggerpy seems to have some 'support' for files, but doesn't appear to be doing it quite the right way, as swagger is pretty specific as to the conditions.

https://github.com/swagger-api/swagger-spec/blob/master/versions/1.2.md#435-file

[2014-12-23 18:41] bpicolo opened #80 "stringify_body special case for datetime needs some fixing up"
See pull #79.

"I think this should handle date as well (since those are both supported types in 1.2), and the datetime format this is using is not correct. I believe it should be using date-time from http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14, which is explicitly called out in the 2.0 spec. "

[2014-12-23 18:44] #73 closed, assigned to nobody

[2014-12-23 19:22] bpicolo opened #81 "Lists aren't handled properly for query/path/header params"
https://github.com/swagger-api/swagger-spec/blob/master/versions/1.2.md#524-parameter-object

First, we should care about the allowMultiple flag. In addition, we should convert arrays to comma separated lists only in these correct circumstances.

[2014-12-27 18:34] #44 closed, assigned to prat0318

[2014-12-27 18:56] dnephin opened #83 "Remove raise_with support from SwaggerClient"
In #44 and #45 we added a `raise_with` param to the client. I believe we should remove support for this param:

* it can be handled without any code in swagger-py (see below)
* it's an attribute that gets added to the http_client, but it not actually part of the class. This makes it mutable, and we would run into errors like those we addressed in #68

Instead we can provide this (either as part of

[2014-12-29 20:26] dnephin opened #87 "Improve swaggerpy performance"
We're seeing that building the client for large APIs (~30 api docs) can be very slow (900ms!).  This ticket is to track some possible improvements.

From the profile:
 1. making requests for documents is ~700ms. We should do these async and all at once
 2. `create_model_docstring()` is 15ms, which is significant, and is only going to be used in very rare situations. It would be great to find a way

[2015-01-08 19:27] #76 closed

[2015-01-08 19:27] #80 closed

[2015-01-08 19:27] #83 closed

[2015-01-09 00:28] dnephin commented on #87
@prat0318 what do you thing about the second point?

We could pass in a parameter, but it's pretty deep in the callstack so we'd have to pass it around a lot.  When do you see this docstring being used?

Since the models don't exist in code, they wouldn't be used by developers. It's possible that it could be used to document the class using sphinxdoc, but I would think that the swagger docs would

[2015-01-09 14:52] prat0318 commented on #87
I was instead thinking to make the `create_model_docstring` **lazy** instead of optional or removal. It can be used to show api-docs model information when working on REPL. Like so,
[code]
My proposed patch prat0318@454b8d6 (inspired by [SO post](http://stackoverflow.com/a/5191224/987896) ) now loads model docstring lazily.

Earlier (added a print statement inside `create_model_docstring`):
[code]

[2015-01-09 15:51] dnephin commented on #87
Cool, making it lazy is a good idea. I wasn't sure if that was possible, but a classproperty makes sense.

[2015-01-10 05:00] prat0318 commented on #87
Also, i was wondering if improving the 'api-docs' computation is worth the effort as it will be invoked just once in 300 seconds. But if that is the case, we can get a lot of perf improvement by making the caching more smarter. After 300 seconds, api-docs call can be made to the server and the SHA of the response body can be compared to the earlier SHA and the earlier built cache can still be used

[2015-01-12 16:01] dnephin commented on #87
I think if we were going with that approach we should be using the standard HTTP headers for caching. That way we could avoid all the download as well. The server would let us know if anything has changed.

I'm actually thinking that maybe the caching isn't necessary at all.  A client isn't really going to be able to take advantage of new fields or calls added to the swagger spec without making co

[2015-01-12 16:34] dnephin opened #91 "Ensure that crochet/twisted is not initialized at import time"
We're seeing an issue where daemonized processes that use swagger-py fail. I believe this is due to swagger-py importing `from twisted.internet import reactor`, which causes the twisted reactor to be initialzied.  The twisted reactor uses file handles which are closed during daemonize, so the reactor needs to be initialized only when the first call is made (not at import time).

There may be other

[2015-01-12 19:24] prat0318 commented on #87
Reloading the spec is mainly intended to make it in sync with the actual response. Suppose on the server end, both spec and response change to return "id" as an integer instead of string. With caching the swagger response validation will fail max up to 300s. This is when, suppose, client can handle both string and integer for "id" via duck type (without any code change). This is not the best use-c

[2015-01-12 19:31] dnephin commented on #87
This should never happen. API changes need to be backwards compatible. Changing a type is not backwards compatible, so in order to make that change the API should either change it's version or create a new endpoint.

Yup, it would require the server to send the correct header.

[2015-01-12 19:36] prat0318 commented on #87
IIRC even finding a new field in response which was not mentioned in the spec throws up swagger validation error. So that will be an issue.

[2015-01-12 19:43] dnephin commented on #87
Hmm, that is unfortunate. We should relax that. We don't want every API call to fail for 300s every time we add a new field to a spec.

[2015-01-12 19:52] prat0318 commented on #87
I agree on that. I am not totally sure if currently, extra fields result in validation failure. We can track that in a separate issue, if that is the case.

[2015-01-23 20:09] HaFl opened #96 "Fix key for `get_client(...)` caching"
The client caching seems to be effectively disabled due to the changes introduced in 46a68a433bf106f7f3af113907d2305938bc0243. More specifically, I think that the problem manifests itself in line 65:
[code]
For example, when `get_client(...)` gets called with the kwarg `http_client=AsynchronousHttpClient()`, then the return value of `repr(kwargs)` will include the specific memory address of the As

[2015-01-23 20:34] dnephin commented on #96
oops, yes that sounds right

[2015-01-23 21:14] HaFl opened #97 "AsynchronousHttpClient mutates the passed in `api_doc_request_headers` object"
When creating an asynchronous client with `get_client(...)` and passing in an `api_doc_request_headers` object, that objects gets mutated. More specifically, the string values of the dict get wrapped in a list:
[code]
This only happens for the asynchronous client and does not happen for the synchronous one:
[code]
While this is not a severe bug, it is definitely unexpected behavior.

[2015-01-23 22:36] dnephin commented on #96
I think using `repr()` is still correct here, the problem is that `AsynchronousHttpClient` does not have a `repr` that properly reflects it's state. Since `AsynchronousHttpClient` is actually stateless, every repr for an instance should be the same.

[2015-01-23 23:13] bwbaugh commented on #96
@dnephin Isn't `kwargs` a `dict`? This might be moot, but since the order of a `dict` is undefined, it may not be "safe" to simply `repr` it, even though in practice the order is consistent.

As an anecdote, I believe golang actually randomizes the iteration order for their hash maps to force developers not to rely on the order. Though I understand that's Go and this is Python.

[2015-01-23 23:17] dnephin commented on #96
Fair point, I guess this needs to be `kwargs.items()` as well.

I think in general this is probably not the best way to handle this problem.  Instead of having `swagger-py` cache the client, the application should hold a reference for as long as it makes sense.  I would argue that there is really no good reason to re-generate the client.  Any change to the API would require other code changes on t

[2015-01-23 23:18] bwbaugh commented on #96
PS: I think `kwargs.items()` is also going to have an undefined order. Something more like `sorted(kwargs.items())` might work.

[2015-01-23 23:19] dnephin commented on #71
This support is in #94

[2015-01-23 23:19] dnephin commented on #96
There is some discussion about removing the caching in #87 as well

[2015-01-23 23:21] bwbaugh commented on #71
@dnephin We're seeing the following deprecation warning:

[code]

Sounds like that pull request might fix that since we'd be able to specify a timeout for retrieving the api-docs?

[2015-01-24 00:06] dnephin commented on #71
hmm, probably not. I think we need to specify a timeout to `wait()`

[2015-01-24 03:43] HaFl commented on #96
In case we decide to keep `repr()` with a proper `__repr__()` method of `AsynchronousHttpClient`, then I'd definitely argue for adding a test since for new args / kwargs in the future we might run into the same issue again.

Interesting discussion in #87 and spontaneously I don't see too much of a need for caching the client aside from the swaggerpy response validation (seems to be more of a long

[2015-01-24 21:36] dnephin commented on #96
It's going to be difficult to test for every possibly param. Someone could easily use a different http client that also has a bad repr. Ultimately doing the caching in the application is the best way to handle this, because the application knows when it makes sense to re-use a client, and when it does not.

From this library we can only guess based on parameters, which is difficult.

[2015-01-24 22:51] dnephin commented on #71
I've added support for a timeout param to the `request_options` , and set a default of 5s, which should remove that deprecation warning.

[2015-01-24 22:59] bwbaugh commented on #71
:heart: thanks!

[2015-01-25 02:37] bwbaugh commented on #96
Perhaps there's a way we could design the API of `get_client` to allow an easier time of producing a cache key? Maybe expose a `cache_key` kwarg that the caller can provide?

If we end up making a backwards incompatible change to remove the client caching system within the package, it might be nice to provide an example in the docs for how the user could implement caching on their own.

----

From

[2015-01-25 02:46] dnephin commented on #96
Another option for the caching is to only cache the api-docs themselves instead of the whole client. That's much safer because it varies only by url/path instead of every arg/kwarg.  I had considered doing that at the time, but it would have been a much larger change, so I skipped it for now.

I'm still hoping we can remove the cache entirely.

[2015-01-26 16:56] dnephin opened #100 "Inconsistent exceptions"
We've observed that the `SynchronousHttpClient` and `AsynchronousHttpClient` raise different exceptions  (`requests.exceptions.HTTPError` vs `swaggerpy.exception.HTTPError`).

We need to ensure that all exceptions at least have the same base class, regardless of client implementation.

We may be able to wait for sprockets, but we should still address this.

[2015-01-26 20:53] #96 closed

[2015-02-13 20:51] #71 closed

[2015-02-27 20:04] dnephin opened #106 "Support Operation class decorators"
There are many use-cases for decorating a client to provide additional functionality. Some common ones that have come up before are:
* wrapping exceptions, either to cast them to another type, log them, or catch them and prevent them from raising
* providing defaults for `_request_options` (especially headers) to every service call. This is useful for things like tracking ids, authentication heade

[2015-02-27 20:06] anthonymayer opened #107 "Make a way to switch between using a sync and an async http_client"
Since building up the resources is expensive, but async and sync clients share everything else, make a way to switch between using a sync and an async http_client without having 2 completely separate swaggerpy clients. Initial thought is instead of client.user.method you'd call client.sync.user.method or client.async.user.method. from @dnephin: "It's probably just a matter of exposing the "build r

[2015-02-27 20:14] dnephin commented on #107
Oh, I was actually thinking of keeping two clients, but allowing them to share the same resources.

Something like this:

[code]

I think this is pretty close to the current interface, but I'm not sure if we expose `build_resources()` right now.

[2015-02-27 20:51] anthonymayer commented on #107
Yea, I thought you might be. That seems fine to me, too. My thinking was that this would make it easier for a function that takes a client to switch between using sync or async if it needed to change the number of requests it's making. With your implementation it would require the caller to change it, which seems unnecessary. I don't love the client.async and client.sync interface, but I couldn't

[2015-03-02 13:57] laucia opened #108 "handle_response_errors swallows stacktrace"
```/swaggerpy/response.py#handle_response_errors``` is not preserving the stacktrace when reraising the errors, making debugging difficult.

Moving to the 3 parameters version of raise would solve this :

[code]

[2015-03-02 23:20] bpicolo commented on #108
whoever fixes this, make sure to avoid the sys.exc_info memory leak

[2015-03-03 21:28] dnephin commented on #87
This was done in #89 and #90

[2015-03-03 21:28] #87 closed

[2015-03-03 21:31] dnephin commented on #70
But we do want to keep a consistent interface for both sync and async. So either we need to remove the ability to cancel an async request (which is probably ok), or we have to keep the sync.cancel.

[2015-03-03 21:32] bpicolo commented on #70
It's true.

Fwiw, I've yet to see a case where we need to cancel one.

[2015-03-03 21:33] dnephin commented on #60
I don't really think this is necessary.  The server side is responsible for validating the interface it exposes. If it's sending a bad spec the client isn't going to be able to do anything about it. We may as well just return a nice message when we fail to build the `Resource` and `Operation` objects. This happens at the same time (client instantiation). I don't think validating schemas buys us an

[2015-03-03 22:03] heath90 opened #109 "Error with list handling in latest version"
Currently we use swagger-py to make a call with params like the following:

[code]

where each location is a string like "San Francisco, CA"

On the service side we get the recent_locations with the following:

[code]

Also note that our api docs for this parameter look like:

[code]

This has worked fine for us up to version 0.7.2. However, after bumping to 0.7.3+ we get an error whenever the ser

[2015-03-04 20:20] dnephin commented on #109
We tracked this down to https://github.com/Yelp/yelp_uri/issues/13.  Once that is fixed, we can set a minimum version requirement for `yelp_uri` should  should resolve the issue.

[2015-03-05 17:05] dnephin opened #111 "Add acceptance test for "accept unknown fields in response""
If the client receives extra data in the response, it should not raise an error.  A service should be able to add extra fields to its response object without having to do a api version bump, as long as the old fields are unmodified.

This has the potential to create a lot of failures. I don't believe there is a test for this in `swagger-py`, but we should verify it works correct in `bravado` befor

[2015-03-05 21:04] prat0318 commented on #111
+1 for a test. I manually tested and currently swaggerpy silently ignores the extra fields.

[2015-03-05 21:08] dnephin commented on #111
Awesome, thanks for testing it out!

[2015-03-05 23:27] #109 closed

[2015-03-11 18:52] acoover opened #118 "client timeouts when response is 204 status code"
This only occurs for swaggerpy clients that use the AsynchronousHttpClient

The response is being returned and raising an crochet._eventloop.TimeoutError

[2015-03-12 16:29] mattiskan commented on #31
Hi - I'd kinda need this for Internalapi  // Mattis@biz-team

[2015-03-12 20:05] #118 closed

[2015-03-12 20:10] prat0318 opened #120 "Refactor `HttpClient` and `HttpFuture`"
Refactor `bravado/mapping/operation.py` such that `response_future` is all done by specific `HttpClient` and we can get rid of type checking. Refer #117 comments for details.

[2015-03-17 17:21] #31 closed

[2015-03-19 21:19] prat0318 commented on #70
I am working on refactoring the HttpClient's future interface for bravado. I am removing the `cancel()` methods from the interface, unless anyone objects to it. cc @analogue

[2015-03-22 22:24] prat0318 opened #126 "[bravado] jsonschema.validate is failing on request validation"
I tried this:

[code]

Which throws back:
[code]

It looks like `swagger_spec` can not be directly treated as `json_schema` to validate the request.

On removing `required` field from the spec, and retrying gives:
[code]

In other words, `jsonschema.validate` will not work in these cases.

[2015-03-23 17:43] dnephin commented on #126
We should create our own validators using `jsonschema`. It actually provides an excellent mechanism for doing this, and the author is very strict about keeping backwards compatibility.

You can see an example of this here: https://github.com/striglia/pyramid_swagger/pull/90/files#diff-154107719748d5873abea20526a5c82dR109 using `jsonschema.validators.extend()`.

So instead of using the Draft4Valida

[2015-03-24 00:10] prat0318 opened #130 "Make `RequestsClient` immutable."
See the comments from #127

[2015-03-24 02:07] prat0318 commented on #100
need to fix it in bravado as well.

[2015-03-25 00:28] ruiwanguiuc opened #132 ""Any" type is not supported in swagger-py"
I have a swagger schema that has an object with type "any". It passes pyramid_swagger validation but didn't pass swagger-py validation. So maybe swagger-py should add "any" to the supported types?

[2015-03-25 01:53] dnephin commented on #132
I don't see an "any" type referenced here: https://github.com/swagger-api/swagger-spec/blob/master/versions/1.2.md#43-data-types

[2015-03-26 21:10] prat0318 opened #133 "Remove the model attributes if they are not required and not present in the response"
Instead of providing a default value, remove the model field if not present in the response.

Changes should be around [here](https://github.com/Yelp/swagger-py/blob/8b8cadb81494dec71a4896cb287382d690430b74/swaggerpy/swagger_model.py#L360)

[2015-03-26 21:41] bwbaugh commented on #133
Remove the attribute, or set it to `None`?

[2015-03-26 22:00] prat0318 commented on #133
I was thinking `None` would lead to ambiguity whether server sent a `null` or swaggerpy did it. But it turns out that there is no way in swagger spec 1.2 to refer to a `null` field, hence server can never send `null` as a field. Thus, changing field to `None` is also an equally valid option. A plus side of adding field with `None` is that it would avoid missing attribute error on the client side.

[2015-03-26 22:19] changsi commented on #133
I am in favor of adding a None field value if it is missing. Just as what you said it avoid missing attribute error on the client side.

[2015-03-28 22:07] dnephin commented on #120
Refactor looks good! resolved by #127

[2015-03-28 22:07] #120 closed

[2015-03-29 11:12] laucia opened #134 "Different Exception Type between Sync and Async client"
Swagger-py's HTTPError is an exact copy of request's one
https://github.com/Yelp/swagger-py/blob/master/swaggerpy/exception.py#L9-L21
https://github.com/kennethreitz/requests/blob/master/requests/exceptions.py#L13-L31

but the SynchronousHttpClient throws requests.exceptions.HTTPError, and AsynchronousHttpClient throws swaggerpy.exception.HTTPError which makes error handling closely tied to the cl

[2015-03-29 16:43] dnephin commented on #134
Duplicate of #100

[2015-03-31 22:25] prat0318 commented on #126
Closed via #136

[2015-03-31 22:25] #126 closed

[2015-04-01 00:08] prat0318 commented on #134
Closing it. Progress is tracked from now in #100.

[2015-04-01 00:08] #134 closed

[2015-04-01 00:09] prat0318 commented on #108
@bpicolo from what i read, storing exc_info into a local variable can lead to the memory leak issue. lmk if #137 looks good.

[2015-04-01 22:40] #100 closed

[2015-04-01 22:40] #108 closed

[2015-04-02 18:38] #133 closed

[2015-05-07 22:55] prat0318 opened #143 "Remove flakiness from Async Integration tests"
[code]

[2015-05-19 22:35] dnephin opened #146 "Don't error when the server returns extra response fields"
We chatted a bit about this today. I still want to write a test for it, but I won't have time to do that for the next couple of weeks, so I wanted to get it documented here.

A service will need to change its API. API changes need to be backwards compatible, or increase the version number (while still providing the old version).  In the case where an endpoint is only adding more data to the respon

[2015-05-19 22:37] dnephin commented on #146
I think this goes along with [the Robustness_principle](http://en.wikipedia.org/wiki/Robustness_principle).

The client needs to be strict about what it sends the server, but it should be liberal about what it accepts. Extra fields that it doesn't know about are ok, it can just ignore them.

One solution might be to add a new config value to bravado_core, which would enable this behaviour, and we

[2015-05-19 23:20] bwbaugh commented on #146
Has the behavior been manually tested yet? I was under the impression that any field not in the api-docs was silently ignored by the client.

[2015-05-19 23:25] dnephin commented on #146
Working on a test case now. That was the behaviour in swagger-py, but bravado is a lot more strict about these things.

[2015-05-19 23:47] dnephin commented on #146
Ok, this seems to be working correctly. If a model is used, the response type is the model with the correct fields. If an object response type is used, the response will contain all the fields.

It makes me wonder if the service validation will pass with extra unknown fields.

[2015-05-19 23:56] analogue commented on #146
After re-reading the jsonschema spec, it does say that when the additionalProperties value is not present, it defaults to an empty schema, hence accepts everything.  My memory is failing me :-(

http://json-schema.org/latest/json-schema-validation.html

5.4.4.3.  Default values

If either "properties" or "patternProperties" are absent, they can be considered present with an empty object as a value

[2015-05-20 18:28] dossnirmal opened #147 "Using 'type': 'number' for request query parameters does not work in swaggerpy"
I added swagger schema with latitude as a request query parameter. I used 'type':'number' and 'format':'double'

eg:             "parameters": [
                        {
                            "name": "latitude",
                            "description": "Latitude.",
                            "required": true,
                            "type": "number",
                            "form

[2015-05-21 08:23] sjaensch opened #148 "Documentation link broken"
The link to http://bravado.readthedocs.org produces a 404 page.

[2015-05-24 17:37] dnephin commented on #147
It looks like you're passing this value as a string, not a float value. I think if you change it to a float it should work correctly.

[2015-05-29 19:29] analogue commented on #148
Fixed

[2015-05-29 19:29] #148 closed

[2015-05-29 19:31] analogue commented on #51
https://pypi.python.org/pypi/bravado/

[2015-05-29 19:31] #51 closed

[2015-05-29 19:32] analogue commented on #60
This is implemented in bravado (Swagger 2.0) and swaggerpy (Swagger 1.2)

[2015-05-29 19:32] #60 closed

[2015-05-29 19:34] analogue commented on #70
This is done.

https://github.com/Yelp/bravado/blob/master/bravado/http_future.py#L7

[2015-05-29 19:34] #70 closed

[2015-05-29 19:35] analogue commented on #77
Release candidates out now.

[2015-05-29 19:37] analogue commented on #78
Re-open if you really need it in swaggerpy.  This is working in bravado and verified by doing file uploads.

[2015-05-29 19:37] #78 closed

[2015-05-29 19:39] analogue commented on #130
This looks fixed in https://github.com/Yelp/bravado/pull/127

[2015-05-30 14:07] dnephin commented on #130
It's mostly done, but the authentication stuff is still mutable (and it doesn't need to be).

[2015-06-04 18:43] prat0318 commented on #143
Closing it, as swagger-py is no more.

[2015-06-04 18:43] #143 closed

[2015-06-04 18:43] #132 closed

[2015-06-04 18:46] prat0318 commented on #81
Closing it, as swaggerpy is no more.

[2015-06-04 18:46] #81 closed

[2015-06-04 18:48] #27 closed

[2015-06-04 18:48] prat0318 commented on #77
Merged to master.

[2015-06-04 18:48] #77 closed

[2015-06-04 18:58] dnephin commented on #146
https://github.com/Yelp/bravado/compare/master...dnephin:test_unknown_fields is what I was working on

[2015-06-05 20:15] prat0318 opened #151 "`_request_options` not available now."
Backwards compatibility with swaggerpy breaks as `_request_options` is not accepted in bravado:
[code]
should add the additional header to the request.

[2015-06-08 21:28] dossnirmal commented on #147
No I did not pass it in as a string. I sent a float value as below.
latitude=37.7485

Can we re-open this ?

[2015-06-08 21:36] bpicolo commented on #147
Got a minimal reproduction case?

[2015-06-08 21:38] dossnirmal commented on #147
Yes with version 0.7.6

[2015-06-16 16:29] bpicolo opened #153 "Bravado should reraise exceptions into common exception types"
Shouldn't have to worry about this across separate clients. Should have uniform exceptions

[2015-06-26 14:25] DanielJomphe opened #154 "Contributing an urllib2 http client"
We can't use either of the provided Fido and Requests clients, so I coded an urllib2 client.

Is that something you'd like to see contributed in this package?

PS congrats on releasing :sparkles:1.0.0:sparkles:!

[2015-06-26 16:11] bpicolo commented on #154
@DanielJomphe Out of curiosity, what's the issue with Requests client?

[2015-06-26 16:18] analogue commented on #154
I can't imagine adding support for the urllib2 client unless there is some feature that it has not already covered by the requests library.

[2015-06-26 16:51] DanielJomphe commented on #154
Obviously, Requests is a very nice improvement over urllib2.

@bpicolo: compat with sandboxed python VMs (think GAE).

@analogue: no pressure on you, and no offense taken by a refusal: we can maintain that on our side as our own in-house, internal contrib.

[2015-06-26 16:51] #154 closed

[2015-06-26 17:10] bpicolo commented on #154
Feel free to open source it if you'd like @DanielJomphe

[2015-07-05 19:57] bpicolo opened #155 "Move twisted to an extras_require"
In retrospect, the best way to merge in the py3 support would be to make twisted support an extras_require dep.

[2015-07-07 19:54] bpicolo opened #156 "bravado should be able to parse errors as json"
Along with the idea of uniform exceptions, we definitely expect errors to come back with JSON responses in, well, most all occasions in our own apis.

Bravado should be able to parse exception messages that are json. Otherwise taking any action on them is virtually impossible.

Here's an example from (swaggerpy):

(Pdb) e
HTTPError(u'403 Client Error: Forbidden : {\n    "error": {\n        "code":

[2015-07-07 19:56] bpicolo commented on #156
Fyi, going to cut a branch to fix this in swaggerpy (because it's a necessary requirement for me)

[2015-07-07 23:11] analogue commented on #156
Same work to expose the the request/response on HTTPError needs to be done for bravado on the master branch.

[2015-07-14 23:30] podarsmarty opened #160 "swagger client should not be modified by a service call."
For swaggerpy version 0.7.6 when we call and endpoint with a body parameter the header {'content-type': 'application/json'} is added for us. However, it is persisted which causes endpoints that don't need that header to fail.

i.e. -
client.get_client(...).endpoints.endpoint(body={'some_data': 'some_data'})

workaround for now is

client.get_client(...).endpoints.endpoint(_request_options={'header

[2015-07-15 00:59] prat0318 commented on #160
So this issue is that [here](https://github.com/Yelp/bravado/blob/master/bravado/client.py#L180) we are fetching the `_request_options` reference and [mutating](https://github.com/Yelp/bravado/blob/master/bravado/client.py#L186) [it](https://github.com/Yelp/bravado/blob/swaggerpy/swaggerpy/client.py#L491) later. The dict provided by user should not get mutated at any cost. So, i think the fix shou

[2015-07-15 01:07] prat0318 opened #161 "Update bravado/swaggerpy doc with current examples"
[This](http://bravado.readthedocs.org/en/latest/quickstart.html#lets-try-a-post-call) does not work now because of no `get_model` method being exposed. The new way is:
[code]
`_model` at operation level is not correct and should instead be at resource level. This should also be fixed.

The petstore link now is: http://petstore.swagger.io/api/api-docs

which is currently failing swagger-py [validat

[2015-07-15 21:36] prat0318 opened #162 "log.warn `deprecated`, `x-deprecated-date` and `x-removal-date`"

[2015-07-16 23:31] SBoudrias opened #164 "Add capacity to set a default timeout on the client"
By default, the `.result()` timeout is 5 seconds. This is pretty high and we'll usually overwrite it to be much lower in real case scenario (`client.foo.get().result(timeout=0.5)`). This is making most call to any endpoint pretty verbose.

I feel it'd make code more readable if we could just define a lower timeout value by default on the client.

Api suggestion:

[code]

[2015-07-17 21:15] bpicolo commented on #164
+1

[2015-07-20 22:46] #162 closed

[2015-07-22 21:04] analogue commented on #164
This is currently a work in progress as an internal library. See y/retries_and_timeouts.

[2015-07-22 21:10] analogue commented on #164
Leaving open until a solution exists somewhere.

[2015-07-22 21:29] analogue opened #165 "timeout and connect_timeout are not being passed to the FidoClient"
The call to [fido.fetch(....)](https://github.com/Yelp/bravado/blob/3c00a50f8a7d634cf179d771d371a200a22c0df6/bravado/fido_client.py#L68) doesn't currently pass along the `timeout` kwarg.

After https://github.com/Yelp/fido/issues/12 is fixed, it should also pass along the ```connect_timeout``` kwarg too.

This is not to be confused with the ```timeout``` passed to ```future.result(timeout)``` sinc

[2015-07-23 22:55] analogue commented on #151
Works fine for me. Code is in [client.py](https://github.com/Yelp/bravado/blob/0c538aaad96fa298a7d9a6018ed6100d3e60f117/bravado/client.py#L187).

[2015-07-23 22:55] #151 closed

[2015-08-04 22:58] #165 closed

[2015-08-10 22:15] #153 closed

[2015-08-11 15:04] stratosgear opened #168 "Instantiate a client from a .yml definition instead of .json only"
It should be easy no?

[2015-08-11 15:40] analogue commented on #168
Pull requests with unit tests happily accepted :-)

[2015-08-11 20:19] stratosgear opened #169 "http_client by default is None"
Am I using this wrong?

    from bravado.client import SwaggerClient
    from bravado.swagger_model import load_file
    from bravado.requests_client import RequestsClient

    http_client = RequestsClient()

    client = SwaggerClient.from_spec(load_file("/server/plaavi.json"), http_client=http_client)

    jobs = client.jobs.getJobs().result()

If I do not specifically instantiate a ```RequestsC

[2015-08-11 21:00] #169 closed

[2015-09-24 15:48] jpizarrom opened #172 "Add allow_null option"
add allow_null like in https://github.com/Yelp/bravado/pull/36

[2015-09-24 23:40] prat0318 opened #173 "Add a way to fetch response headers, status_code"
Currently, the only output back is either json response or deserialized version of the json response. There are use-case where other attributes of response may be needed like headers, status_code, etc. There should be a way to fetch these as well.

[2015-09-25 21:55] prat0318 opened #174 "Expose api to get the service `title` from the client"
Swagger spec has a `info.title` attribute which gives the service name. This can be used to label the client call by title. There should be a way in bravado and swagger-py to get it.

[2015-10-14 15:02] analogue commented on #174
What is "label the client call by title" referring to?

[2015-10-14 15:21] analogue commented on #146
A unit test that verifies this behavior exists [here](https://github.com/Yelp/bravado-core/blob/master/tests/unmarshal/unmarshal_object_test.py#L173).

[2015-10-14 15:21] #146 closed

[2015-10-14 15:26] analogue commented on #111
[Unit test] (https://github.com/Yelp/bravado-core/blob/master/tests/unmarshal/unmarshal_object_test.py#L173) for this exists.

[2015-10-14 15:26] #111 closed

[2015-10-14 17:17] prat0318 commented on #174
"label the client call by title" was meant wrt zipkin. I should have mentioned that. It would be used in bravado decorators when wrapping with zipkin client. The wrapper needed a "service_name" to be labelled. Other than zipkin, it is more like a _good_to_have_.

[2015-10-15 23:18] analogue opened #178 "Support for post-processing the incoming response"
Client decorators need the ability to do post-processing on the incoming response in the ``HttpFuture`` after it has been validated and unmarshalled by bravado-core but before it is returned to the client. Expose an interface to make this possible.

[2015-10-16 19:30] prat0318 opened #179 "Asynchronous client is not fork-safe"
Client hangs if it is created and cached in the pre-fork phase of running of uwsgi. This only happens for Asynchronous client which uses twisted underneath. As per @bpicolo : "The twisted clients aren't fork safe because they open FDs, and won't ever be unless you all-in on twisted for your stack. Twisted has it's own way of forking."

[2015-10-19 17:06] analogue commented on #173
Fixed in 6.1.0

[2015-10-19 17:06] #173 closed

[2015-10-20 04:33] bpicolo commented on #179
A `valid solution` is to fork before importing bravado.

[2015-10-20 04:42] prat0318 commented on #179
But i think the intent is to have the bravado client creation pre-fork and cache it. How will that be achieved if importing bravado happens later.

[2015-10-23 16:21] analogue commented on #178
Fixed in 7.0.0

[2015-10-23 16:21] #178 closed

[2016-01-13 18:31] InAnimaTe opened #188 "Handle patch requirements differently"
If I have an available patch operation with an operationId of `modifyBlock` and a parameter that references my object definition where there are 3 required properties, `herp`, `derp`, and `cake`, whilst using Bravado, I'm not able to properly patch merely `derp` without getting a `ValidationError: 'herp' is a required property` (note that all 3 are set to required in my definition as they are need

[2016-01-13 19:31] prat0318 commented on #188
I think the best bet is to go with [polymorphism](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#composition-and-inheritance-polymorphism) and create a second model definition from the first. But i think bravado doesn't support polymorphism yet.

[2016-01-13 19:36] InAnimaTe commented on #188
^yeah that's definitely a way to do it. Kinda waiting on https://github.com/Yelp/bravado-core/pull/63

[2016-02-29 21:57] prat0318 opened #191 "Passing datetime as request body throws JSON serializable error."
Relates to #80. I am not sure it got resolved.

The flow here deals only for swagger_to_py flow and not the other way round. If there is a date-time param in request body, it is not currently transformed to a str to make `json.dumps` work.

`SwaggerTypeCheck` currently is being used both for to_wire and from_wire flow. This needs to be distinguished.

[2016-03-03 05:00] frol opened #193 "OAuth2 support"
I see that there is a way to manage headers, so it is possible to set a token manually, but it would be nice to have OAuth2 support out of the box.

[2016-03-03 15:11] lucagiovagnoli opened #194 "TypeError with form multi-part data when using the AsynchronousHttpClient"
I am getting the following error when I try sending multi-part form data (such as a file and some strings/integers):
`
File "/code/virtualenv_run/local/lib/python2.7/site-packages/swaggerpy/response.py", line 55, in __init__
    self._request = self._http_client.start_request(request_params)
  File "/code/virtualenv_run/local/lib/python2.7/site-packages/swaggerpy/async_http_client.py", line 50, in

[2016-03-03 19:30] lucagiovagnoli opened #197 "BadRequest with form data in Asynchronous client"
I am getting a BadRequest when using form data (only form data Content-type: application/x-www-form-urlencoded, not multi-part).

I managed to reproduce the error and it seems to happen because we are not setting the headers correctly and we are not utf8-encoding the data.
[Here](https://github.com/Yelp/bravado/blob/swaggerpy/swaggerpy/async_http_client.py#L160) we encode the body if the header is

[2016-03-11 17:05] lucagiovagnoli commented on #194
This was fixed with 0.7.12 and can be closed

[2016-03-11 17:05] lucagiovagnoli commented on #197
This was fixed with 0.7.12 and can be closed

[2016-03-11 17:48] lucagiovagnoli opened #199 "TypeError or BadRequest with form multi-part data when using bravado FidoClient"
I have not reproduced this but from reading the code I am fairly confident that issue #195 is affecting bravado as well, not only swaggerpy.

I am opening this issue to track this so that it does not go forgotten.

[2016-03-15 18:25] #168 closed

[2016-03-17 15:55] #194 closed

[2016-03-17 15:55] #197 closed

[2016-03-28 11:37] martinellog opened #201 "collectionFormat for arrays is not implemented"
when an array P in a swagger spec has collectionFormat multi, the request should be encoded as ?p=1&p=2... to do this, we need to pass to the requests library p[] instead of p as param name. The current result is that the params are encoded independently of the collectionformat.

[2016-03-28 14:07] #201 closed

[2016-03-31 21:30] mxmul opened #202 "SwaggerMappingError when not passing optional array-type query params"
Using the latest version of bravado. I have a swagger endpoint with params that look something like this (snippet):

[code]

I'm able to curl the endpoint without specifying 'categories', but bravado has a fit if I don't explicitly pass an empty array:

[code]

[2016-03-31 21:53] sjaensch commented on #202
Your default should be [] instead of "", since categories is an array and not a string.

[2016-03-31 23:19] mxmul commented on #202
D'oh, you're right. The issue is still valid though – I get the same error after correcting my spec. Updated the issue.

[2016-04-01 23:15] analogue commented on #202
Fixed in bravado-core 4.2.2

[2016-04-01 23:15] #202 closed

[2016-04-05 21:43] asottile opened #205 "swaggerpy: Regression between 0.7.8 and 0.7.9"
Seems in 0.7.8, non-required arrays are defaulted to `[]` when missing.  In 0.7.9 they are defaulting to None.

Here's a part of a schema that's triggering this:

[code]

[2016-04-05 21:49] asottile commented on #205
@prat0318 seems to be https://github.com/Yelp/bravado/pull/139/files

[2016-04-05 22:46] asottile commented on #205
Perhaps not worth reverting, at least this is documented

[2016-04-05 22:46] #205 closed

[2016-04-05 22:56] asottile opened #206 "bravado: Regression between between 8.0.1 and 8.1.0: Response has no attribute `headers`"
[code]

CC @sjaensch

[2016-04-05 23:34] analogue commented on #206
FYI,  the headers property is missing from TwistedClient in bravado_promised. Fixing internally.

[2016-04-05 23:34] #206 closed

[2016-04-06 00:11] striglia commented on #206
Same core issue as https://github.com/striglia/pyramid_swagger/pull/159? Can you link the bravado-core issue here?

[2016-04-13 03:59] alertedsnake commented on #172
Or at least figure out another workaround - it's very common to have database-backed data which has Nulls, that end up being None in Python, and then we get this:

jsonschema.exceptions.ValidationError: None is not of type 'string'

[2016-04-19 10:40] tinnet commented on #155
did this accidentally get resolved by #208? :)

[2016-04-19 10:55] tinnet opened #211 "Question: handling of $ref:s to external .yaml files"
I already had quick discussion with @sjaensch about this. The swagger spec allows both _.json_ and _.yaml_ files as [external `$ref`s](http://swagger.io/specification/#referenceObject).

Bravado currently does not support this, since `$ref`-loading is done by the `jsonschema` library (via `swagger_spec_validator`) as far as I can tell.

Obviously that library has no interest to support loading _.y

[2016-04-20 14:55] striglia commented on #211
Relevant work we're in the middle of on pyramid_swagger https://github.com/striglia/pyramid_swagger/pull/164

[2016-04-20 15:48] #199 closed

[2016-04-21 07:22] laucia commented on #155
Yes it did :)

[2016-04-21 07:22] #155 closed

[2016-04-26 17:36] germanp opened #215 "$ref to local files"
I want to split my swagger spec file into multiple files. I've tried using the $ref but it seems to ignore the inclusion. Is referencing to a local file supported? I think that using the a full url path (with http://) works but does not serve me.

Thanks.

[2016-04-27 15:08] analogue commented on #215
Yes, multiple files are supported. See https://github.com/OAI/OpenAPI-Specification/blob/master/guidelines/REUSE.md for examples.

[2016-04-27 21:21] wting opened #217 "Rename SwaggerClient to BravadoClient?"
Since Swagger has been renamed to OpenAPI, any references to Swagger are going to fall farther out of sync. We might as well rename things to `BravadoClient` but this will result in a backwards incompatible change.

[2016-05-03 14:38] phishy opened #220 "documentation does not indicate how to pass global headers"
I would like Accept: application/json to be passed with every model call. Adding a produces key to the swagger.json does not seem to do the trick. Adding request_headers to SwaggerClient.from_url only seem to work for the call to retrieve the JSON.

What's the best way to pass global headers?

[2016-05-16 15:56] analogue commented on #220
Wrap SwaggerClient to return a wrapped Resource that injects the headers via [`_request_options` ](http://bravado.readthedocs.io/en/latest/configuration.html#per-request-configuration)when the service call is made.

[2016-05-16 16:02] analogue commented on #217
Good idea. We can create an alias in a backward-compatible minor point release with `SwaggerClient` marked as deprecated.  Then, remove `SwaggerClient` entirely in the next non-backward compatible major release.

[2016-05-16 16:03] #215 closed

[2016-05-16 16:10] analogue opened #221 "Make it super easy to wrap SwaggerClient to add new features"
This is in reference to #220 and #193.  Basically, make it easy to wrap the SwaggerClient, Resource, and Operation easily add new features like:
- OAuth2 support
- Passing headers on each service call

Tasks:
- Extract the relevant bits from the internal bravado_decorators library
- Update documentation with a sample usage of the wrappers

[2016-05-19 11:50] askedrelic opened #222 "Gracefully reraise JSONDecodeError errors"
We've run into this issue several times, where a swagger service has crashed and is returning HTML 500s, which then causes our client to raise JSONDecodeError.

These are pretty ugly and hard to debug; you can't see what the not-json response is.

I feel like the bravado client should handle this case and reraise as a Bravado custom Exception, with the crash context/original response available.

T

[2016-05-19 18:32] struys opened #223 "Python3 support for FidoClient"
The FidoClient raises an exception if imported under python3:
[code]

I can't find documentation explaining why it doesn't support python3 so I figured i'd file this to get answer and start enumerating the blockers.

cc/@lucagiovagnoli @jnb

[2016-05-19 19:07] lucagiovagnoli commented on #223
Mmh, I think that's a wider issue about Twisted not being python 3 ready. See this comment [on bravado](https://github.com/Yelp/bravado/blob/master/tests/fido_client/FidoClient/prepare_request_for_twisted_test.py#L20):
[code]

Now that [Twisted is py3 ready](https://pypi.python.org/pypi/Twisted), it should not be hard to make fix this :)

[2016-05-20 15:58] lucagiovagnoli commented on #223
https://github.com/Yelp/fido/pull/34

[2016-05-21 00:23] danielfrg opened #225 "Question: Swagger spec 1.2"
First of all thanks for supporting library :)

All the documentation says that only swagger spec `2.0` is supported but I still see that there is some test data for swagger version `1.2` in the `test-data` directory so I wanted to know if its possible to use a swagger spec of `1.2` with the latest version of the library. If the answer is no, is there an old version of the that supported `1.2` inst

[2016-05-23 14:51] sjaensch commented on #225
The bravado library only supports Swagger 2.0. If you need Swagger 1.2 support, use swaggerpy. This is how bravado was named previously. The source code is in this repository in the  swaggerpy branch: https://github.com/Yelp/bravado/tree/swaggerpy. You should probably install from source since the version on PyPI is ancient. If you really need an up-to-date version in PyPI let me know and I'll loo

[2016-05-24 15:36] toabi commented on #221
That would be a pretty useful thing…

[2016-05-26 16:12] asottile opened #227 "Should fido / twisted / requests be optional requirements?"
Or perhaps split out into separate packages?  To me it doesn't make too much sense to drag them along if they're not essential for functionality

[2016-06-03 11:58] #223 closed

[2016-06-03 20:32] struys opened #229 "Should fetching swagger specs be done at buildtime instead of runtime?"
The example usage of bravado suggests to fetch the spec via a url at runtime - https://github.com/Yelp/bravado#example-usage

There's a tradeoff doing this when you have many instances of a service with many web workers connecting to the same api - the number of requests to fetch the swagger spec is really high.

Is there a technical/philosophical reason why we don't suggest fetching the spec as p

[2016-06-03 21:10] striglia commented on #229
Definitely something that's been discussed before. I've got some thoughts
on this general subject bouncing around my head...I'll see if I can't pull
them together into something coherent and add it here :)
On Fri, Jun 3, 2016 at 1:32 PM Ken Struys <notifications@github.com> wrote:

[2016-06-03 21:16] analogue commented on #229
fyi, @jnb and @prat0318 discussed something similar (or was it exactly the same) with reasons for/against. maybe their findings were documented somewhere?

[2016-06-08 20:06] wasbazi opened #230 "Passing multiple query parameters with same name"
From digging through the issues in this repository I found an a merged PR from when swaggerpy existed that allowed you to pass a string query parameter as an array so that you could generate this as a query parameter: `http://www.petstore.swagger.io?foo=bar&foo=foobar` https://github.com/Yelp/bravado/pull/24

It appears that you used to be able to pass parameters like this:
[code]

Now that throws

[2016-06-08 20:51] prat0318 commented on #230
This is because Swagger 2.0 has a specific format if multiple values are to be allowed for a query param. If that format is not defined, multi values (array) will not be supported (and the array will be treated as a wrong type). You should use the type below if you expect multi values in your query param.

The third parah in [Swagger 2.0](https://github.com/OAI/OpenAPI-Specification/blob/master/ve

[2016-06-08 20:58] wasbazi commented on #230
Thanks so much, I must have missed this in browsing the swagger documentation and that fixed up the problem I was running into.

[2016-06-08 20:58] #230 closed

[2016-06-09 06:10] laucia commented on #227
They provide the networking capabilities, and that is what bravado brings on top of bravado-core.
So yes I think they are required.

Unless we want bravado not to be usable out of the box ?

[2016-06-09 06:31] laucia commented on #222
This was probably fixed by https://github.com/Yelp/bravado-core/pull/97

[2016-06-09 11:53] sjaensch commented on #222
@laucia: Yelp/bravado-core#97 is about fixing JSONDecodeErrors when reading JSON data submitted by the client. This is about trying to fetch swagger specs, the server returning a 500 (with a HTML response) and then bravado trying to parse that HTML as JSON. We still have to fix that.

[2016-06-09 13:00] asottile commented on #227
but I can use bravado without using twisted or I can use bravado without using fido?

[2016-06-09 13:11] lucagiovagnoli commented on #227
Sure, you can use bravado without using Fido (and hence Twisted) if you select the RequestClient. Or you can use bravado without using RequestClient if you select FidoClient. Bravado is the swagger-validation layer, it can use any http client, and we currently provide 2 of them out of the box

[2016-06-09 13:51] asottile commented on #227
My suggestion is to split the specific implementations into other
packages.  If I'm just using, say, the twisted client then I really don't
care about fido, requests, and all their dependencies.  But currently
bravado requires me to install them.  If they're truly plug-and-play I see
no reason to put them in the core package.
On Jun 9, 2016 6:11 AM, "Luca Giovagnoli" <notifications@github.com> wro

[2016-06-09 22:19] struys commented on #229
We've internally had discussions about this and it sounds like there isn't a huge objection to this, when we start working on it we'll make sure to update the documentation.

[2016-06-09 22:19] #229 closed

[2016-06-28 22:01] bchess commented on #179
Delaying import until post-fork is kinda fragile. It'd be nice if there were a reset() that can be invoked post-fork to clean up any file descriptors.

[2016-07-13 01:18] vaghar opened #235 "How to change host in the swagger file?"
I just started using the library (thanks). A question on API usage:

My yml file looks like this:

	swagger: '2.0'
	info:
	  title: FogHorn Edge API
	  description: Manages FogHorn edge components
	  version: "1.0.0"
	host: localhost
	schemes:
	  - http
        ...........

I can successfully load the swagger file and create a client:

	from bravado.client import SwaggerClient
	from bravado.swagge

[2016-07-13 01:46] prat0318 commented on #235
@analogue I don't recollect a way of providing the host during request call if schema file is read via `file://` mode. Any ideas if bravado supports this?

[2016-07-14 16:14] analogue commented on #235
There doesn't look to be a publicly documented non-invasive way to do this.  A PR to address this would be awesome. In the meantime, you might be able to get away with something like this:

[code]

[2016-07-14 16:59] vaghar commented on #235
Thank you so much for the suggestions!

[2016-07-25 18:53] hachreak opened #237 "pip install latest version"
Hi at all,
I see that the latest version on github (`8.3.0`) is different from the latest version available on pip (`8.1.2`).
Could you please update the latest available version?

Thanks a lot. :)

[2016-07-28 13:38] sjaensch commented on #237
Thanks for the report, done!
https://pypi.python.org/pypi/bravado/8.3.0

[2016-07-28 13:38] #237 closed

[2016-08-08 20:19] zroadhouse-rmn commented on #172
I ran into this today, but in connection to null object values. My workaround was to monkey patch bravado_core like so:
[code]

[2016-08-08 20:39] sjaensch commented on #172
The solution here is to use the [x-nullable property](http://bravado-core.readthedocs.io/en/latest/models.html#allowing-null-values-for-properties).

[2016-08-08 20:39] #172 closed

[2016-08-08 20:46] zroadhouse-rmn commented on #172
Thank you! Definitely no need to monkey patch then.

[2016-08-08 20:58] zroadhouse-rmn commented on #172
@sjaensch - has a version been released since https://github.com/Yelp/bravado-core/pull/64 was merged?

In bravado_core-4.3.0 there is no support in the unmarshal code path for x-nullable.

[2016-08-09 15:06] zroadhouse-rmn commented on #172
I'm working on a PR with test cases. I can open a new ticket once I have it ready.

[2016-08-09 15:47] sjaensch commented on #172
Great @zroadhouse-rmn! This looks like a bug indeed, I would have taken a look later this week. But a PR would be highly appreciated.

[2016-08-11 22:07] zroadhouse-rmn commented on #172
PR is ready with test cases. :)

[2016-08-16 22:48] bxm156 opened #239 "SwaggerMappingError when trying to load spec with root path."
I'm trying to write a spec that will perform a POST on a url like "domain.com/", note that the url is at the root.

In the online Swagger Editor, this schema correctly validates and performs a POST, but when using bravado, I'm unable to load the schema json.

I get "bravado_core.exception.SwaggerMappingError: Could not extract resource name from path /"

Here is an example part of my 2.0 spec:
...

[2016-08-16 23:06] bxm156 commented on #239
So I discovered I have to add a "tag" and "operationId", then reference it by client.<tag>.<operationId>.

pretty confusing, not sure if thats documented anywhere.

[2016-08-16 23:43] striglia commented on #239
Can you post your full traceback and precisely what line of code produces it? I think this isn't the first time working with semi-complete specs caused a low-level error....shouldn't spec validation be catching this?

[2016-08-16 23:48] bxm156 commented on #239
[code]

[2016-08-17 23:55] bxm156 opened #240 "Documentation update. SwaggerClient.from_spec"
http://bravado.readthedocs.io/en/latest/advanced.html#loading-swagger-json-by-file-path

[code]
AttributeError: type object 'SwaggerClient' has no attribute 'from_dict'

I think the documentation should say:
[code]

[2016-08-18 14:29] #240 closed

[2016-08-18 14:29] sjaensch commented on #240
Thanks for the report @bxm156!

[2016-08-18 23:16] bxm156 opened #242 "Bravado client hangs a lot on HTTPS connections on _lib.SSL_read"
When trying to use the Bravado  client to make a POST over HTTPS. I find my request hangs about 70% of the time. I get tired, and I interrupt it to see where its hanging at.

It looks like its hanging at some SSL read function.

CURL is working fine.

[code]

[2016-08-19 00:01] bxm156 opened #243 "FidoClient errors when trying to pass in _request_options."
I tried to switch from bravado.requests.HTTPClient, to the FidoClient.
Since the FidoClient doesn't provide a nice set_basic_auth function. I wrote up the header myself, and put it into a dictionary like:

[code]

And then I fed that to Bravado via _request_options instead of using the .set_basic_auth on the HTTPClient. My call worked as expected. Then I switched it to using FidoClient, and passin

[2016-08-19 00:20] bxm156 commented on #242
Eventually, if I don't keyboard interrupt. I get:

[code]

[2016-08-19 18:21] bxm156 opened #244 "AttributeError: 'Future' object has no attribute 'wait'"
When using requests==2.11.0 ( the latest version) with the FidoClient, I get

[code]

[2016-08-19 20:17] lucagiovagnoli commented on #243
Hi bxm156, Can you please provide some more info on how to reproduce this?
We've been using FidoClient for months now and I've never seen this traceback

[2016-08-24 22:44] bxm156 opened #246 "Bravado decorators hide SwaggerClient.get_model()"
When using a bravado client wrapper with some of the bravado decorators, I'm unable to access my models:

[code]

I would have to go all the way up the stack to access this function (I'm using 3 decorators here):
[code]

[2016-08-25 01:15] bxm156 commented on #222
I have encountered this as well. One of the APIs I hit allows me to pass a field called "debug", and instead of returning a JSON response, it can return some text data to aid with debugging. I would like to be able to read this text data for my own investigations, but I can't because Bravado would just raise JSONDecodeError.

[2016-08-25 13:48] sjaensch commented on #246
@bxm156 This sounds like a bug in the bravado client wrapper, not in bravado itself, or am I missing something?

[2016-08-25 18:31] bxm156 commented on #246
Nope.. just a severe lack of coffee...

[2016-08-25 18:31] #246 closed

[2016-09-01 22:05] helgridly commented on #222
I dug into this a little bit and managed to fix it locally, for my purposes, in #249.

[2016-09-01 22:32] bxm156 opened #250 "Bravado tries to parse xml response as JSON"
One of my endpoints responds with xml data. I specify in the swagger spec that this endpoint produces: application/xml. Despite this, trying to call result() returns a JSONDecodeError.

If I configure 'also_return_response': True, it still tries to parse it as JSON :(

[2016-09-01 22:38] analogue commented on #250
That definitely needs fixing: https://github.com/Yelp/bravado-core/blob/master/bravado_core/response.py#L102

[2016-09-01 23:07] bxm156 commented on #250
I tried passing in .result(raw_response=True), but it still didn't work. Is raw_response not supported?

[2016-09-01 23:58] analogue commented on #250
swaggerpy (swagger 1.2) was refactored so much whilst adding Swagger 2.0 support (bravado/bravado-core) that it was effectively a rewrite.  raw_response didn't make it in the final cut :cry:

[2016-09-02 07:58] macisamuele commented on #222
If your endpoint should produce JSON output (produces in [SwaggerObject](http://swagger.io/specification/#swaggerObject) or in [OperationObject](http://swagger.io/specification/#operationObject)) and instead it produces HTML output the trouble is on the swagger specs and not on the bravado client. If it is the case the specs should be updated ... once you do this you'll face trouble because curren

[2016-09-02 16:37] bxm156 commented on #222
What about a case where there is a load balancer between you and your JSON only endpoint. If the load balancer returns a status of 500, and a 500 HTML page, you will never know its a 500. Even when using "also_return_response': True" to get the http status, bravado will raise a JSONDecodeError, preventing you from even seeing a status code.(See https://github.com/Yelp/bravado/issues/250)

At the v

[2016-09-02 20:26] bxm156 opened #251 "Non 200 codes block getting http response"
According to http://bravado.readthedocs.io/en/latest/advanced.html#getting-access-to-the-http-response

I can use {'also_return_response': True} to get the response. But that will only work on 200 codes. I would like to also get 404, 500 etc, but instead, an HTTPError is raised.

I have to access the HTTPError.response to get my response. Maybe this just is something that should be called out in t

[2016-09-06 17:18] bxm156 opened #252 "Better HTTP Exceptions?"
It would be nice to have a little more granular HTTP Exceptions, rather than just a single one.

All HTTPExceptions could inherit from the existing HTTPException class, but we could have ones like:

NotFoundHTTPException(HTTPException):
ForbiddenHTTPException(HTTPException):
GatewayTimeoutHTTPException(HTTPException):

It would be nice for when I'm catching different exceptions and trying to handl

[2016-09-06 17:35] macisamuele commented on #252
I like really much the idea ... it is going to be perfectly backcompatible and at the same time could provide a better experience in the handling of those cases.
So now the question is: want @bxm156 you to implement it? If yes it will be great, otherwise I could handle it. Just let me know

[2016-09-06 20:01] bxm156 commented on #252
@macisamuele: Sure I'll take it

[2016-09-06 20:07] macisamuele commented on #252
@bxm156++

[2016-09-09 02:43] bxm156 commented on #252
Hi @macisamuele , can you give me write access to the repo so I can push my branch

[2016-09-09 07:47] macisamuele commented on #252
Hi @bxm156 ... our process for adding new features is based on the Pull Request system.
So please fork the repo, add the branch and do a pull request for it (it would be great if you link also the issue in the PR).
Thanks a lot for your support

[2016-09-09 19:53] macisamuele commented on #244
Hi @bxm156 ... I have checked your issue ...
The logs are [here](https://gist.github.com/macisamuele/7682c8c8f0f82bc3541742159ee4a817).

Are you still able to reproduce the issue? If so could you give me more context? If not could you close the comment?

[2016-09-09 20:01] #252 closed

[2016-09-09 20:02] bxm156 commented on #244
@macisamuele I updated the requirement versions for all my packages in requirements.txt, and it started working. I tried to figure out which bump was the cause, but after spending 20 minutes on that, I gave up and figured it wasn't worth it.

[2016-09-09 20:28] macisamuele commented on #239
Reading the specs I haven't found any constraint about the presence of the ``tag`` and ``operationId`` into the operation object. I have checked the [minimal specs](http://editor.swagger.io/spec-files/minimal.yaml) and there is no information about ``tag`` and ``operationId``.
The issue seems caused by [bravado-core](https://github.com/Yelp/bravado-core/blob/2bcb9e1d452931e683b0c3ff7c30a9bd2ae06fa

[2016-09-11 05:50] bxm156 opened #255 "Changelog for 0.9.3 (+proposal)"
The changelog is missing an entry for 0.9.3. (Also its not on pypi)

I would like to propose we add a "Master" version to the changelog, above the version numbers. As developers commit changes, they can add a message to that section on what they added. When it comes time to release a new version, a maintainer renames that section with the version number, and adds a new blank Master section.

This

[2016-09-11 06:02] bxm156 opened #256 "Automatic PyPi deployment"
Would be nice to setup our travis ci to automatically deploy to pypi when a tag on master is created.

[2016-09-12 11:19] sjaensch commented on #255
That's a great idea, feel free to add one when you do a PR. Most people unfortunately don't think about it, so we add it for them. Maybe we'll get to a point where keeping track of all the improvements will be a problem, that would be awesome. 😊

[2016-09-12 11:21] sjaensch commented on #256
This already happens internally. For Python's PyPI we would need to store credentials somewhere within travis, which is why we're currently not doing that. I'm instead trying to solve this by introducing a runbook.

[2016-09-12 11:21] #256 closed

[2016-09-12 16:45] bxm156 commented on #256
@sjaensch  Travis CI allows you to encrypt your Python PyPi credentials and store them in your travis.yml. Only travis can read that information for the specific repository, so its safe to include it in a public repo.

https://docs.travis-ci.com/user/encryption-keys/

[2016-09-25 16:04] #255 closed

[2016-09-25 16:32] macisamuele opened #258 "Travis build failure (Python 2.6)"
The travis build is starting to fail after #257 merge.

The travis build job is available [here](https://travis-ci.org/Yelp/bravado/builds/162590659).

[2016-09-27 13:57] #258 closed

[2016-10-03 15:41] asottile opened #260 "http exception by status code causes AttributeError: str has no status_code"
See comments on:
https://github.com/Yelp/bravado/commit/87fa6813c7367a066eaa76db0dfad8483067aad4#diff-0a21d9158985f1ced07c9ef0ad7bb297

[code]

This may be bad testing code on our end.  Either way the `getattr` should be changed to just attribute access or to default to `None`

[2016-10-03 16:29] bxm156 commented on #260
Yes, this is my bad, it was meant to default to None originally.

[2016-10-05 12:05] pavolloffay opened #263 "Create request without swagger.json"
Hello,

Is it possible to create a http request without pointing to the swagger.json file?

(I'm trying to use https://github.com/Yelp/swagger_zipkin)

Pavol

[2016-10-05 12:42] macisamuele commented on #263
Hi @pavolloffay to use bravado you should initialize somehow the ``SwaggerClient``.

You can do that passing the URL of the ``swagger.json`` file (with [``SwaggerClient.from_url``](https://github.com/Yelp/bravado/blob/master/bravado/client.py#L91)) or passing the swagger specs dictionary (with [``SwaggerClient.from_spec``](https://github.com/Yelp/bravado/blob/master/bravado/client.py#L125)).
Once

[2016-10-21 06:49] torwald-sergesson commented on #227
I think, it will be fine to move specific clients into another boxes. For example, bravado-fido-client, bravado-requests-client etc. Today I've tried to install bravado on CentOS 7 with python 3.5.2. And it was failed because of problems with twisted. But I'm not going to use twisted in my application, as fido client. I would prefer to install one more library, then to fix problems with twisted by

[2016-10-21 10:05] jakul opened #265 "Error when API has a attribute called `self`"
I get this error when calling my API, because the `self` from the API response clashes with the `self` from the Python object. I have `self` in my API because I'm following the HAL draft specification for adding metadata to responses - https://tools.ietf.org/html/draft-kelly-json-hal-08.

[code]

Here's a sample Swagger schema that should generate the same problem:
[code]

[2016-10-21 10:13] macisamuele commented on #265
@jakul This is a known issue on the [``bravado-core``](https://github.com/Yelp/bravado-core) (our dependency).
[PR #126](https://github.com/Yelp/bravado-core/pull/126) was recently merged on bravado-core and it will be used as soon as the new bravado-core version will be released.
In the mean time you could "force" pip to fetch ``bravado-core`` from the github master branch instead of the pypi sys

[2016-10-21 10:25] jakul commented on #265
❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️

Thanks for the quick response, and for having the problem already fixed!

[2016-10-21 10:25] #265 closed

[2016-10-22 12:52] #260 closed

[2016-11-10 13:01] wtfrank commented on #193
I agree - trapping exceptions to guard against auth token expiry every time you make a call feels like something that should be done internally.

[2016-11-17 18:39] podarsmarty opened #266 "Method type with swaggerpy and python3 are getting clobbered"
Related to https://github.com/Yelp/bravado/pull/131

With the changes in python3 to str/unicode `.encode('utf8')` now gives us the byte `b'GET'` instead of the string `'GET'`

[2016-11-17 20:26] #266 closed

[2016-11-28 14:11] pythonishvili commented on #265
Hey, thanks for the fix. Any chance it will be released soon, I don't know if it is worth forking now. I wouldn't want to keep `-e ...` entries in production dependencies.

[2016-11-28 17:10] sjaensch commented on #265
@pythonishvili I just released bravado-core 4.6.0, it includes a fix for this issue.

[2016-11-28 18:07] pythonishvili commented on #265
@sjaensch Great news, thanks!

[2016-11-29 09:26] jakul commented on #265
❤️

[2016-12-07 16:48] bowman commented on #250
As a work around I clear the` deferred.operation = None`, making the current version not try to parse as json.  This is really an implementation detail, so relying on it seems like a bad idea.
[code]
After that you can look at the result text without json parsing:
[code]
Unfortunately, the library doesn't expose the `.content()` from requests
so I hit a charset encoding slow down https://github.co

[2017-01-10 19:26] bxm156 opened #271 "HTTPError doesn't inherit from BaseException"
When we upgraded pylint, is started complaining about

http://pylint-messages.wikidot.com/messages:e0710
Raising a new style class which doesn't inherit from BaseException
For the following code:
[code]
Catching HTTPErrors seems pretty common. Perhaps we could have HTTPError inherit from BaseException? Currently, the base class is IOError, but is IOError really the correct base class here? I would

[2017-02-02 17:15] lucafavatella opened #272 "Package at pypi.python.org is obsolete"
https://pypi.python.org/pypi/bravado has version 8.4.0. Git repo has release 0.9.5.

[2017-02-02 17:19] lucafavatella commented on #272
My bad, closing.

[2017-02-02 17:19] #272 closed

[2017-02-20 02:51] pyang30 commented on #242
I got the same problem.

[2017-02-20 09:27] sjaensch commented on #242
Could this be kennethreitz/requests#2312? Upgrading Python resolved the issue. If you can't do that maybe try using the fido client and see if that works...?

It's not an issue with bravado though so I'm going to close this issue.

[2017-02-20 09:27] #242 closed

[2017-02-20 16:58] amilstead commented on #227
+1 to not including all of the implementation dependencies as part of Bravado's base installation. Separate packages isn't the only option, though -- maybe pick a default (perhaps `requests`) then include that as part of the main bravado dependency list and drop the others from the requirements file. The other implementations can stay in code but will raise `ImportError`s if they are used.

The `e

[2017-03-22 13:40] ivanlei opened #277 "bravado on pypi does not offer extra 'fido'"
[code]

[2017-03-23 09:49] macisamuele commented on #277
@ivanlei The feature you're looking for was introduced by PR #273 and it is not yet released.
The latest bravado version is 8.4.0 released on September 2016.
Soon we'll release the new version that will define ``fido`` as optional (extra) dependency.

[2017-03-26 14:57] #263 closed

[2017-03-31 00:12] kenrestivo-stem opened #278 "Bravado can't deal with self-signed certs or certs not in default store"
[code]

[2017-03-31 07:41] macisamuele commented on #278
Hello @kenrestivo-stem the reported issue is caused by ``requests`` library.
The ``requests`` needs to set ``verify=False`` to skip SSL verification ([doc](http://docs.python-requests.org/en/master/api/#requests.adapters.BaseAdapter.send)).

Bravado doesn't support this ([``requests_client.py``](https://github.com/Yelp/bravado/blob/master/bravado/requests_client.py#L276)) because is not "productio

[2017-03-31 14:04] drmikecrowe opened #279 "SwaggerValidationError: discriminator (type) must be defined in properties"
Can anybody help me understand this error?  The swagger.json is auto-generated from their source code, so I'm trying to understand how this needs to be fixed so I can use bravado.  http://editor.swagger.io/#!/ appears to (mostly) load it, at least enough to generate a library.

swagger_spec_validator.common.SwaggerValidationError: discriminator (type) must be defined in properties

This is in this

[2017-03-31 14:12] macisamuele commented on #279
Hey @drmikecrowe as far as I can see from the specs they looks invalid.
According to [Swagger Spec Definition](http://swagger.io/specification/):

An example of polymorphic specs is available [here](https://github.com/Yelp/bravado-core/blob/master/test-data/2.0/polymorphic_specs/swagger.json).

If you would like to have additional information I would suggest you to reach http://swagger.io/forum/.

[2017-03-31 14:48] drmikecrowe commented on #279
Thanks @macisamuele -- that was the direction I needed

[2017-03-31 14:48] #279 closed

[2017-03-31 23:02] kenrestivo-stem commented on #278
Didn't have any luck with REQUESTS_CA_BUNDLE, but decided to use a proper wildcard cert and solved the problem that way.

Closing.

[2017-04-03 23:44] kenrestivo-stem opened #280 "Bravado returns NoneType but a request has been made"
Looking at a very basic GET with bravado to a private server. We squared away the SSL issue, and bravado can access the server.

Now bravado is returning NoneType for get requeststs that definitely hit the server, and definitely return something:

[code]

But all we see is nothing:
[code]

Does bravado/requests handle 301 redirects?

[2017-04-12 13:21] Amedeo91 opened #281 "pattern with regex"
I was trying to add pattern in the pattern swagger file to validate the format of my input, but I saw that the regex has not been evaluated.

What do you think about providing such functionality?

Regards,
Amedeo

[2017-04-12 14:09] laucia commented on #281
Could you provide an example of the functionality?
Are you talking about Patterned XXX like patterned objects https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#patterned-objects ? (as this is the only reference to regexes in the OpenAPI 2.0 spec)

[2017-04-19 02:54] advance512 commented on #235
This is a very basic requirement for using microservices. I don't know what the host and port will be, but I get them dynamically and load them into Bravado, which then creates a client that bravely attempt to connect to the statically defined host/port endpoint as denoted in the swagger.json file...

[2017-04-19 08:09] sjaensch commented on #235
@advance512 if you load a spec from a file, this will do the trick (this is how we do it internally):

[code]

[2017-04-19 14:36] Amedeo91 commented on #281
Hi,

sorry for the late replay.
The functionality is the follow:
"position":{
                            "pattern":"^\\S+$",
                            "type":"string"
                        }

The filed position above should be type string and respecting the regex ^\\S+$. At the moment it is not working.

Regards,
Amedeo

[2017-04-19 14:37] Amedeo91 commented on #281
In the yaml

position:
            type: string
            pattern: ^\S+$

[2017-04-19 14:49] macisamuele commented on #281
Hello @Amedeo91 it's really interesting the fact that it is not working properly to you.
Could you attach to this thread a "code example" that is not working?
We rely on [JsonSchema](https://github.com/Julian/jsonschema/) for JSON validation and [here](https://github.com/Julian/jsonschema/blob/master/jsonschema/_validators.py#L152) is enforcing ``pattern`` validation.

[2017-04-19 15:52] Amedeo91 commented on #281
Hi all,

there was an issue on my code. Now it is working fine

Regards,
Amedeo

[2017-04-19 15:52] #281 closed

[2017-04-19 20:36] advance512 commented on #235
But I'm not loading it from a file. I have an endpoint from which I construct a URL:

http://host:port/service/swagger.json

I give this URL to Bravado. It creates a client that instead of using:

http://host:port/service/

uses:

http://staticHost:staticPort/service/

I can create an HTTP client and download the file, and use load_file instead - it seems overkill.

I'd much rather do:

[code]

I

[2017-04-20 08:18] Amedeo91 opened #282 "$ref or the $allOf or $anyOf are not automatically solved"
I see that sometimes the $ref or the $allOf or $anyOf are not automatically solved and I have to solve them manually in order to make it work. Why?

Example below:
{'x-scope': [''], 'additionalProperties': False, '$ref': '#/definitions/My_Resource'}

Regards,
Amedeo

[2017-04-20 08:18] Amedeo91 opened #283 "additionalProperties is not False by default"
Is it possbile to have additionalProperties False by default without having to manually setted it?

Regards
Amedeo

[2017-04-20 08:32] macisamuele commented on #282
Hello @Amedeo91 ... I don't understand what exactly is your issue. What do you mean with "I have to solve them manually" ? Having additional context / code example will be extremely helpful to identify the issue and eventually fix it.
Thanks a lot for your help

[2017-04-20 08:53] macisamuele commented on #283
Forcing ``additionalProperties`` to ``False`` will make harder adding parameters (even optional) to specs so, personally, I think that it should be used carefully and so should not be enforced by default.
Additionally, "validation should check that the object is compliant with the schema provided" and so it should make sure that the properties defined by the json schema / swagger spec are present

[2017-04-20 09:49] Amedeo91 commented on #282
Hello Samuele,

I have my response define as follow in the path part of the swagger:
'/carts/{cartId}/product/{productId}':
       put:
              - name: data
                 in: body
                 description: Replace or add product information
                 required: true
                 schema:
                       $ref: '#/definitions/Product'

and in the definitions part I have

[2017-04-20 09:57] Amedeo91 commented on #283
Hi all,

for my application I need that the json contains only the parameters defined in the schema. To do that, I have to put additionalPorperties to false. I am not saying that should hard coded by default, but maybe there could be a configuration to change the behavior (like a global additionalProperties).

I think this functionality might be really useful especially if you want to validate res

[2017-04-20 12:44] sjaensch commented on #283
@Amedeo91 Swagger validation makes sure your object conforms to the spec. The spec says which fields need to be present and what the rules are for the values of those fields. By default it does not say that no additional fields should be present. This is by design and allows for forward compatibility: you can add new fields to a response and clients using an older version of the spec will not comp

[2017-04-20 13:03] Amedeo91 commented on #283
Hi all,

By default it does not say that no additional fields should be present. --> it does not even say that additional fields should be present

This is by design and allows for forward compatibility: you can add new fields to a response and clients using an older version of the spec will not complain about the response containing those fields. --> I do not think it is the right way to allow fo

[2017-04-20 13:51] laucia commented on #283
@Amedeo91 https://tools.ietf.org/html/draft-fge-json-schema-validation-00#section-8.3.2
JsonSchema defines the additionalProperties as defaulting to `True`.

So the answer to your original question is No. For the schema to be valid under JsonSchema, we can't change the default.

Bravado strives to respect the spec to the letter, because that's what people expect and what guaranties broader compati

[2017-04-20 13:51] #283 closed

[2017-04-20 14:40] Amedeo91 commented on #283
If you have special needs that bravado doesn't fit, maybe bravado is not the solution, or you need to build something on top of bravado to fit your needs perfectly. --> it is exactly the contrary: Bravado meets of my need but for this aspect. Moreover, I DID NOT ASK TO CHANGE THE DEFAULT!

I ask if you think it might be reasonable to extent the behavior since I believe that not having a global set

[2017-04-20 23:30] bplotnick opened #284 "General timeout exception"
I've seen some code that, in order to catch both fido and requests timeouts, look something like:

[code]

It would be nice if bravado handled this by making some general timeout exception that clients can catch.

[2017-05-02 09:32] lucafavatella commented on #160
Do I understand correctly this was fixed by #166?

[2017-05-04 15:52] sjaensch commented on #235
@advance512 your issue is similar but different from the one the original poster discussed. You can just remove the `host` entry from your swagger spec file, bravado should use the host and port from your URL.

[2017-05-04 22:45] advance512 commented on #235
iirc, not putting a host/port caused bravado to complain and die.. but I'll check it out, just to be sure.

[2017-05-12 18:29] ngaya-ll commented on #277
@macisamuele Is there a target release date for the new version?

[2017-05-30 22:06] colton-leadpages opened #285 "Read the docs module index broken"
Hey, the link to the module index in RTD is broken:

http://bravado.readthedocs.io/en/latest/py-modindex.html

This is linked to from the docs root:

http://bravado.readthedocs.io/en/latest/index.html

How can I view the API docs for Bravado?

[2017-06-06 15:49] sjaensch commented on #277
I just released version 9.0.0.

[2017-06-06 15:49] #277 closed

[2017-06-07 01:44] akanak opened #286 "Binary file upload results in UnicodeError"
For a given operation of type multipart/form-data and parameter of type file, an attempt to initiate a swagger request to upload/transfer a binary file results in the following stacktrace:

`
lib/python2.7/site-packages/bravado/http_future.py", line 70, in result
    inner_response = self.future.result(timeout=timeout)
 lib/python2.7/site-packages/bravado/requests_client.py", line 271, in result

[2017-06-14 14:19] prince-mishra opened #290 "Automated testing of swaggerfiles"
Potentially a dumb question:
Is there a way to auto-generate python unit tests using a swagger spec?

[2017-06-18 02:44] milezhacks opened #291 "Question: How to upload a file with Bravado?"
Hello,

I'm trying to figure out how to upload a file with Bravado.  The back-end is implemented in node.js and everything checks out with Postman.

I have a swagger spec that looks like this:
[code]

I'm trying to call it like so:
[code]

But I get the exception:
[code]

Which doesn't make sense to me as I'm clearly passing 'file' in.  I can not find any examples of a file upload via Bravado.

An

[2017-06-18 05:39] milezhacks commented on #291
Hrm.  So it appears I'm actually Doing The Right Thing.  If I move my call to earlier in the code, it works just fine.

It turns out that it is the PREVIOUS call that bravado made for me that somehow leaves things in a bad state.  My server never sees this request.  It's bravado that barfs on validating the request before it even sends it.  I tried disabling validation altogether and it's still th

[2017-06-19 21:10] bplotnick commented on #290
Could you describe a bit more what you're trying to achieve? I don't think that this exists currently, but i'd be interested in hearing what you had in mind.

[2017-06-21 21:15] mikepietsch11 opened #293 "QUESTION:"
How would one work with ResourceDecorators that contain a dash?

I can create a client from_url and when debugging can see:

client
  resource-one
      operationone
      operationtwo
  resource-two

but when I try to actually write python code to use the client object like:
     print(client.resource-one)

I get AttributeErrors

AttributeError: Resource resources not found. Available resources:

[2017-06-21 22:02] laucia commented on #293
You are going to have to use a trick: getattr (client, 'resource-one')

Le mer. 21 juin 2017 à 23:15, Mike Pietsch <notifications@github.com> a
écrit :

[2017-06-21 22:53] mikepietsch11 commented on #293
Well, yeah, I should have thought of that - total fog of programming on my part.
Thank you

[2017-06-22 09:23] sjaensch commented on #293
But you raise a good point, we have similar issues with parameters that contain dashes (especially likely for header parameters). We might want to think about a nicer solution.

[2017-06-22 17:56] mikepietsch11 commented on #293
Especially since it is an even uglier issue when the created methods are looking for parameters that have a - in them.
...method(param-name="foo") results in {SwaggerMappingError} param-name is a required parameter
and
...method("foo") results in  __call__() takes exactly 1 argument(2 given)

any other thoughts?

[2017-06-22 20:19] #293 closed

[2017-06-27 12:38] openfly opened #296 "add support for codegen of PKCS authentication methods"
We have some APIs that do PKCS authentication ( passing of unpacked p12 cert bundles ) to authenticate some of the endpoints.

We would like to use bravado to codegen off our our swagger files.  But we'll need to figure out how to handle the PKCS authenticated endpoints.  Dropping this issue here to cover the effort to do that.

Feel free to ask questions, provide insight on how, or just tell me I

[2017-06-27 17:00] openfly opened #298 "cannot test against foreign URL target once imported URL spec"
[code]

basically it might be wise to setup the logic to check for a request_options.get('url', {}) style query.

[2017-06-27 17:11] macisamuele commented on #298
Sorry @openfly ... could you add more context around your issue? I'm not getting what your problem is.
Thanks for understanding

[2017-06-27 17:18] openfly commented on #298
I am loading a spec file ( somewhat successfully ).  Then I am trying to use the methods that exist having been loaded by bravado.  But bravado configures the requests client ( and seemingly every client ) to target API endpoints based on the from_url spec loader call.

If you load from file this ends up being defaulted to localhost.

There's no way to set a target URI for the API you want to test

[2017-06-27 17:19] openfly commented on #298
[code]
this is a hack i threw together to test around it for now.

[2017-06-27 17:41] openfly commented on #298
this is in : bravado/client.py

[2017-06-27 18:48] macisamuele commented on #298
Just for clarification you are interested in changing the base api url for testing?
If so have you tried something similar to
[code]
or similar to
[code]

[2017-06-27 18:52] openfly commented on #298
nope haven't seen that documented anywhere.  I'll give it a whirl.

[2017-06-27 19:06] openfly opened #299 "multipart/form-data content type failures"
can't seem to convince the methods to adhere to content-type multipart/form-data

[2017-06-27 19:10] openfly commented on #298
seems to work.

[2017-06-27 19:10] #298 closed

[2017-06-27 19:25] openfly commented on #299
It's basically choosing the wrong content-type and passing data in the wrong format.

[2017-06-27 19:36] macisamuele commented on #299
@openfly it is possible to capture the real HTTP request sent? It's hard to understand why your Java service returned an HTTP/415.

As a side note could you add in the execution trace that you posted what each line represents?

[2017-06-27 19:41] openfly commented on #299
I cleaned it up a little but the key bits are that the content-type is wrong.  it changed to 'Content-Type': 'application/x-www-form-urlencoded'

which triggers the 415.  If i manually go into _request_options and change the header it fixes that 415... but still gets a 400 from how it handles the data it's passing as formData.  It's not being passed to requests correctly.  it shouldn't be being ur

[2017-06-28 08:37] macisamuele opened #301 "Small refactor and improvement of headers conversion to strings"
As highlighted on #300 we were converting to string headers in a really "aggressive" way which could lead to undesiderable behaviors.
I would suggest to unify the headers conversion to a single util method to reduce duplication between RequestsClient and FidoClient and to convert only headers that needs to be converted.
We can use https://github.com/requests/requests/blob/master/requests/utils.py#

[2017-06-28 08:57] sjaensch commented on #301
Isn't that something that could be done _after_ the header has been converted to str? What we are doing is making sure non-str values are converted to str, how would that function help? I think calling that code with e.g. a bool header value would raise a TypeError.

[2017-06-28 09:03] macisamuele commented on #301
We need to convert headers to string because ``check_header_validity`` will raise an exception on invalid non-string headers.
To make more general and avoid un-needed conversion that could lead to cases like in #300 I was thinking to something similar to
[code]
and adding an unified function that takes care of headers string conversion
[code]
Doing so we can offload the check of header validity to

[2017-06-28 09:36] sjaensch commented on #301
Isn't that just a heavier version (involving regexes) for what we're currently doing? Plus it will still cause us to call `str()` on a bytestring header value if that value is not valid according to requests.

[2017-06-28 10:43] macisamuele commented on #301
you're right ... it could result in being quite heavier in checking only types! So let's get rid of that!

I would still unify the conversion logic within ``HttpClient`` class, so it will de defined only in one place and made accessible by all our clients (and eventual custom clients developed by library users).

[2017-06-28 11:31] sjaensch commented on #301
Yeah makes sense!

[2017-06-28 12:07] sjaensch commented on #299
You're not setting the (optional) attachment parameter, which is of type `file`. Currently we don't explicitly set the content type, but let the HTTP client take care of it in case of file uploads. Check out the [relevant source code in bravado-core](https://github.com/Yelp/bravado-core/blob/b905f2ca05f1597f2cd364e8812ed6b26baec9cc/bravado_core/param.py#L271).

`application/x-www-form-urlencoded`

[2017-06-28 12:10] openfly commented on #299
Yeah that's a bug man.

multi-part form is handled differently than x-www-form-urlencoded for stuff other than file uploads.  so if the api expects multi-part form and you hand it x-www-form-urlencoded you will see failures to parse.

basically bravado is failing to set the method appropriately based on the swagger spec.

[2017-06-28 12:12] openfly commented on #299
I'll take a look and see if I have the up front knowledge to fix it without breaking more than I fix.

[2017-06-30 00:32] ujlbu4 commented on #290
I think, it something like is done in https://github.com/noahdietz/oatts project (but it's on js)

The main idea is to generate template code of tests using operation and status_codes from swagger spec. For example:

[code]

and content of generated file(-s) is something:
[code]
I assume that I can update this tests by correct values for appropriated response codes (i will prepare the state of the

[2017-07-01 11:58] prince-mishra commented on #290
On the same lines as @ujlbu4
Essentially I want to be able to specify things like:
[code]
And pass on the spec to a jenkins/CI job which generates the correct unittest code, runs it against the designated server and publishes the results. No human intervention once the specs are written
[code]

[2017-07-25 18:53] rcorre opened #304 "No ? method"
The [docs](http://swagger-py.readthedocs.io/en/swagger2.0/advanced.html#docstrings) say `The help built-in does not work as expected for docstrings. Use the ? method instead.`

As far as I'm aware, that isn't valid python syntax. I get the following with python 2 and 3.

[code]

[2017-07-25 19:08] rcorre commented on #304
Oh, I see. It is an `ipython` feature. Might want to mention that.

[2017-07-26 20:42] barakalon opened #306 "Any plans to support OpenAPI 3.0"
OpenAPI 3.0 was released: https://github.com/OAI/OpenAPI-Specification

Are there any plans to add support for this new version?

[2017-07-27 09:46] sjaensch commented on #306
There are no plans currently to work on supporting version 3. That said, if you're interested please go ahead and create a pull request!

[2017-07-27 15:37] barakalon commented on #306
Figured - thanks!

[2017-07-31 21:33] ritwik opened #307 "Resources created when tags have spaces are inaccessible"
This issue is a mix of Bravado / Bravado core so I'm filing here but happy to move to Bravado core if that is more appropriate.

# Summary:
When a resource has tags which have spaces, e.g "contact activites", its operations become inaccessible in the generated swagger client, because they must be accessed with the space (which isn't possible in python).

# Background:
We use bravado to create a cl

[2017-08-07 12:39] markfink commented on #215
link is broken :(

[2017-08-09 15:51] alexcombessie opened #308 "Is there support for Internet proxies?"
I would like to use bravado behind a corporate proxy with user/password authentication. I know I can do that with Python requests, but bravado looks nicer !

[2017-08-25 15:33] PascalVA opened #311 "Implement environment merge capability for requests sessions"
Bravado requests throws an SSL: CERTIFICATE_VERIFY_FAILED error while requests is working.
I have tested this with bravado 9.0.0 and 9.1.0.

   * I have added the certificate in question to the Debian ca-certificates and it is also working in curl
   * I have exported the REQUESTS_CA_BUNDLE environment variable (this fixed it for using requests, but not for bravado)

I don't know if it could be re

[2017-08-28 07:49] PascalVA commented on #311
After looking into the Bravado code some more, I've noticed Bravado is using requests Session objects. I can reproduce the problem by using just requests Session objects.

[code]

Closing this issue.

[2017-08-28 09:07] PascalVA commented on #311
Using requests sessions do not take into account the environment. The environment has to explicitly be merged (see: https://github.com/requests/requests/issues/4256).

This merge should probably be implemented in Bravado, or at least an option to do so.
I would be happy to create a PR.

[code]

[2017-09-12 09:36] lcofre commented on #243
@bxm156 At least in my case, I forgot to append the .result() to the call of my api.

[code]

[2017-09-12 09:56] lcofre opened #312 "How to inspect a request before is sent?"
Hi!

While executing a request I am getting a 401 response from my api when I am expecting a 200, so I was wondering if it's possible to see how the request was built before it was sent.

The request I am testing has a parameter in the path, another in the body, and the authentication as a query param. Something like this (though the definition is not complete):

[code]

And I call the api like th

[2017-09-12 10:01] macisamuele commented on #312
@lcofre I would suggest you to ways:
1. set a breakpoint in your code before calling ``result`` method on the future object and follow the code up to [``self.session.send``](https://github.com/Yelp/bravado/blob/v9.1.0/bravado/requests_client.py#L287)
2. create your own Client extending ``RequestClient`` and your own ``FutureAdapter`` that replicates ``RequestsFutureAdapter.result`` logic which inj

[2017-09-12 10:01] #312 closed

[2017-09-12 14:19] lcofre commented on #312
Thanks for the answer!

To make it easy I inspected the request when it arrives to the server.

[2017-09-12 14:25] lcofre opened #313 "Validating responses even with validate_responses = False?"
Hi!

I am testing the cases where my api should return an error response code, so I send a request that will fail. I configured bravado to not validate the responses:
[code]

But anyway I receive the error:
[code]

Thanks for your help!

[2017-09-12 17:17] macisamuele commented on #313
This is caused by [``HttpFuture.result``](https://github.com/Yelp/bravado/blob/b6c381dbc771394d5ef7603ea1d369d78918ca62/bravado/http_future.py#L85).
Every time bravado receives an HTTP status code that is not 2xx it will raise a well defined exception (subclass of [``HTTPError``](https://github.com/Yelp/bravado/blob/v9.1.0/bravado/exception.py#L28)). The raised exception will have ``response`` att

[2017-09-12 17:46] macisamuele commented on #312
@lcofre  that's even possible ... but I was not sure that you had access to it 😄

[2017-09-12 18:59] lcofre commented on #313
Great. Thanks very much for the explanation @macisamuele!

Now in my case, as the project is for testing my API, the 4xx responses are the expected code for some tests.

Is there any way to avoid raising this exception?

[2017-09-12 19:02] macisamuele commented on #313
Nope ... but you cat ``try...except`` the call.
If you can post a small snippet of the test that you're writing maybe I could give some way to work it around.

[2017-09-12 19:11] macisamuele opened #314 "Update petstore tests to actually verify response's content"
As result of supporting #313 I noticed that in the whole codebase we have not tests while we're checking not HTTP/200 responses, additionally I noticed that we're xfailing a big variety of petstore tests.

I would suggest to:
 - improve tests ensuring that the different test cases are verified and that we're asserting against something and not just printing the response (like in https://github.com

[2017-09-12 19:39] lcofre commented on #313
Thanks for the advise! I will wrap the query in try except. I post the code just in case
Sorry I can't access my tests right now, but is something like this:

[code]

On the other hand,
Do you think it would be a good enhancement for bravado to make this configurable, to not raise an exception if indicated in the initial configuration maybe? Or it deviates from the purpose of the project?

Thanks

[2017-09-12 19:57] macisamuele commented on #313
I think that raising a python exception in case of not 200 responses is reasonable since those type of responses means errors. Adding a config parameter could be a solution but it will open us to maintain a bigger number of different flows, so I would say that we should not change it. Obviously if a community will require that we might start thinking about it.

About your test case I'm making the

[2017-09-13 07:08] lcofre commented on #313
A pity that raising the exception won't be configurable, although I understand the reasons behind.

I'll definitively follow your advice regarding catching exception and timeout. All your assumptions were correct. :)

Thanks very much!

[2017-09-13 07:08] #313 closed

[2017-09-13 23:54] bplotnick opened #315 "tcp_nodelay for FidoClient"
Fido now [supports](https://github.com/Yelp/fido/blob/master/fido/fido.py#L299) tcp_nodelay as a fetch argument. We should support it here: https://github.com/Yelp/bravado/blob/215e1a15e107ee034622d88612637fd31e53233e/bravado/fido_client.py#L156

[2017-09-18 12:10] Dunedan opened #316 "Headers validated case sensitive"
When [supplying headers using `_request_options`](http://bravado.readthedocs.io/en/latest/advanced.html#adding-request-headers) `bravado`'s validation checks their names with case sensitivity, while it shouldn't, as [HTTP header names are case insensitive](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2).

That leads to `SwaggerMappingError`'s when a header is required and the case s

[2017-09-18 14:15] Dunedan opened #317 "Headers added by requests aren't valued"
In an OpenAPI specification I have some mandatory headers defined for certain operations. These headers are added by a custom `requests` authentication handler and have to be added there, because they are based on the content of the rest of the request (essential it's [Signing HTTP Messages](https://tools.ietf.org/html/draft-cavage-http-signatures-08)).

As `bravado` currently does the validation

[2017-10-01 19:59] lcofre opened #318 "Ability to disable exception due to error codes from the API"
This issue is related to #313 where there's a workaround explained (Thanks macisamuele!) I would like to explain in more detail the reasons for this request.

The application I work on provides remote configuration for Industrial IoT devices. The API definition can be found here: http://hub.bb-smartworx.com/api/v1.0/api-definition.html
We use Bravado alongside pytest for E2E tests on this API, so

[2017-10-09 11:00] #315 closed

[2017-10-11 10:26] jakul commented on #307
I have the same problem. It's nicer to include spaces in the tags for display using Swagger UI, but that means that the API isn't callable from bravado.

Another solution (possibly requiring less debate) would be to implement a `client.get_resource('Tag Name')` method which we could use explicitly when the tags have spaces in

[2017-10-11 10:31] jakul commented on #307
As a workaround you can do:

[code]

[2017-10-11 10:57] macisamuele commented on #307
@jakul , @ritwik : what about using ``client.swagger_spec.get('Tag Name')``? It's already supported by bravado / bravado-core .
An other approach could be to open an issue within bravado-core project in order to sanitize the resource name before saving it using something like https://github.com/Yelp/bravado-core/blob/8ac640ce8cbd83272897a3b3ce25954971b3074b/bravado_core/operation.py#L133-L138

[2017-10-11 11:39] jakul commented on #307
That example doesn't work for me - `AttributeError: 'Spec' object has no
attribute 'get'`

Either way the returned object needs to be an instance of
`ResourceDecorator` in order to be used like the other attrs on the client.

Em qua, 11 de out de 2017 às 11:57, Samuele Maci <notifications@github.com>
escreveu:

[2017-10-11 11:40] jakul commented on #307
Fixing in bravado code is probably a better option. I didn't realise it was
already modifying the tag name. Doing one extra modification won't cause
any problems.

Em qua, 11 de out de 2017 às 12:39, Craig Blaszczyk <masterjakul@gmail.com>
escreveu:

[2017-10-11 11:42] macisamuele commented on #307
@jakul your right ... writing it I missed an important part :) ``client.swagger_client.resources.get(...)``.
This is a possible workaround, similar to the you suggested above.

The code that I linked is related to operation_id but we could replicate the same logic for resource name too.
Please open an issue there and a PR if you have time, I don't know exactly if I could handle that in a timely ma

[2017-10-11 17:16] ritwik commented on #307
@jakul @macisamuele Thanks for the suggestions! I'm travelling this month so won't be able to test these out / create the PR (if needed) right away - but will do so when I'm back at work. Appreciate the assistance :)

[2017-10-12 08:21] jakul commented on #307
@macisamuele `client.swagger_client.resources.get(...)` isn't a complete workaround, as the returned object needs to be wrapped in a `ResourceDecorator`, e.g.

[code]

[2017-10-12 09:16] jakul commented on #307
I've made a PR to fix the resource names to make sure they are valid Python identifiers in Bravado Core - https://github.com/Yelp/bravado-core/pull/200. I'm not sure if both of my PRs are needed, or if it's best to only fix this in Bravado Core or to only fix it in Bravado.

[2017-10-12 09:32] #307 closed

[2017-10-23 22:04] noahprince22 commented on #293
Has a nicer solution here been implemented? Or is everyone using ` getattr (client, 'resource-one')`?

[2017-11-03 20:27] AlstonLin opened #323 "Add raw_bytes attribute to RequestClient and FidoClient"
Once https://github.com/Yelp/bravado-core/issues/214 is completed, all classes using the `IncomingResponse` will be required to have a new attribute, `raw_bytes` defined. Responses in RequestClient and FidoClient will need to but updated for this change

[2017-11-05 12:29] elmirjagudin opened #326 "KeyError: 'also_return_response' exception with bravado-core 4.10.0"
The hello word example from documentation fails with KeyError: 'also_return_response'
exception. This is with bravado 9.1.1 and bravado-core 4.10.0 packages installed.

[code]

A work-around is to downgrade bravado-core to 4.9.1, then at least hello world example works.

I'm guessing this is related to this change in bravado-core:
https://github.com/Yelp/bravado-core/commit/aecd9122f5301973f0114ca

[2017-11-05 12:36] macisamuele commented on #326
@elmirjagudin thanks for reporting it.
As you noticed we're already aware of this issue and tomorrow with @sjaensch we're going to release a new version of ``bravado`` or ``bravado-core`` that fixes the issue.

As temporary workaround you can use an "older" version of ``bravado-core`` (ie. 4.9.1)

Related PRs:
 * [``bravado-core`` #218](https://github.com/Yelp/bravado-core/pull/218)
 * [``bravado`

[2017-11-05 12:43] elmirjagudin commented on #326
Cool Samuele! I noticed that you have pushed a fix the minute I submitted the issue report :)

I have tried your https://github.com/Yelp/bravado/pull/325, it solves the bug. Thanks!

[2017-11-05 16:20] advance512 commented on #326
This broke our system as well.

Pretty ironic that we hard-set the version of bravado to:
`bravado==8.4.0`
to prevent these "3rd party breaks". Yet we still get them as bravado itself depends on:
`bravado-core >= 4.2.2`

bravado should point to specific versions of bravado-core and pyyaml.

[2017-11-05 16:34] macisamuele commented on #326
I don't see the point of strictly pinning ``bravado`` dependencies to specified versions.
Doing so will make harder/impossible to use other libraries dependent on a different version of ``pyyaml``.

bravado==8.4.0

If you strictly pin ``bravado`` to a specific version you're not constraining the dependencies injected by ``bravado`` to specific versions and for extension the dependencies of the bra

[2017-11-05 16:41] advance512 commented on #326
@macisamuele

Good point. I did indeed consider doing `pip freeze > requirements.txt`, but that would make it harder to follow what libraries we use directly - not the entire set of dependencies (and their dependencies, etc) all around. That way, when we need/want to upgrade these libraries, it is clear which ones we should look for "breaking changes" in.

I am sure there are better solutions, e.g

[2017-11-05 16:44] macisamuele commented on #326
In Yelp we're using [requirements-tools](https://github.com/Yelp/requirements-tools) that allows to write a ``requirements-minimal.txt`` file containing you're direct dependencies (more or less like in setup.py), but even pipfile seems a valid option.

About the bravado-core change we have two PRs on the fly to fix it 😄

[2017-11-05 16:45] advance512 commented on #326
Thanks, appreciated. :)

[2017-11-06 08:46] macisamuele commented on #326
[``bravado-core`` #218](https://github.com/Yelp/bravado-core/pull/218) has been merged and released on v4.10.1.

[2017-11-06 08:46] #326 closed

[2017-11-06 20:51] mikepurvis opened #327 "Can't parse spec file from Jupyter"
The errors are opaque enough that I don't really know where to begin, but neither `from_url` or `from_spec` was able to do the right thing. See https://github.com/jupyter/jupyter/issues/297.

[2017-11-06 21:16] macisamuele commented on #327
@mikepurvis reading the linked issue I see that you're trying to initialize the client using ``SwaggerClient.from_url('http://localhost:8888/api/spec.yaml')``.
While invoking ``from_url`` bravado will fetch the swagger spec file (yaml file in your case), read it and initialize the ``bravado-core`` ``Spec`` object.

According to the reported stack trace I see that ``pyyaml`` library is failing in d

[2017-11-06 21:25] macisamuele commented on #327
I've tried also to fetch the jupyter swagger specs from their [github repo](https://raw.githubusercontent.com/jupyter/notebook/master/notebook/services/api/api.yaml).
[code]

[2017-11-06 22:05] mikepurvis commented on #327
Oh, blah, I see what's going on here— the `api/spec.yaml` path in Jupyter requires authentication, so it was returning a blank 403 page that Bravado was attempting to parse as yaml. I should have clued into that sooner. There's probably a bug on both sides there, in that Bravado should warn when a supplied spec URL returns an error code and/or empty page, and Jupyter should serve the API spec with

[2017-11-06 22:05] #327 closed

[2017-11-06 22:11] macisamuele commented on #327
Could you save the content of the generated spec into a gist.github.com ? It makes me curious the [``swagger_spec_validator``](https://github.com/Yelp/swagger_spec_validator) validation issue.

[2017-11-06 22:13] mikepurvis commented on #327
Oh! I'm pretty sure that was a legit validation failure as a result of missing https://github.com/jupyter/notebook/commit/b0205c4b78829f1e51b385bd62d8cff64d42a423.

[2017-11-06 22:15] macisamuele commented on #327
@mikepurvis definitely that was the case I see ``items: {"$ref": "#/parameters/section_name"}``.
Thanks 👍

[2017-11-07 04:43] mikepurvis commented on #327
Okay, I gave bravado another try, but I think I really am going to go back to the code generator for now. Some further issues:

- I found it difficult to discover the method names and parameters— the RTD page encouraged me to explore in the REPL, which I did using `help()` and `dir()`, but most of the time I was looking at the pydoc for `ResourceDecorator` or some other internal infrastructure, no

[2017-11-08 16:52] #323 closed

[2017-11-09 15:17] pumazi commented on #280
I ran into this as well. I believe you need to define the response type information. So at a minimum, defining the response type as `string` will provide a response other than `None`.

For example (swagger definition in yaml):

[code]
☝️ will result in the `None` value you are getting.
👇 and the following will at least give you a string value (not parsed json).
[code]

I hope that helps

[2017-11-09 16:46] pumazi opened #329 "How to allow undocumented responses?"
## tl;dr;
Is there a way to allow "undocumented" responses? I use "undocumented" because this is how the [Swagger Editor](http://editor.swagger.io/#) terms it.

## long description of the problem

Originally, I was trying to use the [example in "Let's try a POST call" of the documentation](https://bravado.readthedocs.io/en/latest/quickstart.html#lets-try-a-post-call). This didn't seem to work due

[2017-11-09 16:47] pumazi commented on #329
This may or may not be slightly connected to #314 (CC @macisamuele).

[2017-11-22 18:58] AlstonLin opened #332 "bravado_core should use the msgpack module instead of umsgpack"
It seems that the umsgpack module, implemented in pure python, is an order of magnitude slower than the msgpack module, written with CPython bindings

[2017-11-22 18:58] #332 closed

[2017-12-01 01:10] AlstonLin opened #333 "Add a _use_msgpack option"
https://github.com/Yelp/bravado-core/pull/216 added support for msgpack, but to use it with bravado the following is required

[code]

instead, the header adding should happen behind the scenes, and there would be a simple flag that a user would enable to add it instead, so it would look something like

[code]

[2017-12-06 00:27] AlstonLin opened #335 "Add a _compress_response option for operation calls"
When https://github.com/Yelp/bravado-core/issues/231 is merged to bravado-core, bravado should have an easy way to initiate requests for compressed responses.
Specifically, users should be able to add a _compress_response=True flag, which would then cause an `Accept-Encoding: deflate` header to be automatically included in the request.

[2017-12-06 01:55] AlstonLin commented on #335
Closing this as it seems the `requests` module already sends this header by default, and also handles it automatically

[2017-12-06 01:55] #335 closed

[2017-12-13 10:59] vavdagic opened #338 "Bravado only see first part of the path as a "Resource""
Part of my .yaml tree shown bellow
[code]
Why does SwaggerClient only sees "wp" as a Resource? How can i, for instance, get posts?

[2017-12-13 11:14] macisamuele commented on #338
In order to call your endpoint the approach is something like
[code]

* RESOURCE is defined according to the swagger tag associated with the operation or the "first part" of your path ([code reference](https://github.com/Yelp/bravado-core/blob/master/bravado_core/resource.py#L68)). In your case you should have no tags defined so it will be ``wp``
* OPERATION is defined by ``operationId`` attribute

[2017-12-13 11:14] #338 closed

[2017-12-13 11:28] vavdagic commented on #338
@macisamuele thanks a lot for a detailed explanation. Bravado documentation is really scarce, so this is much appreciated.

[2017-12-18 16:47] sjaensch commented on #329
@pumazi this is not supported currently. Are you not able to either add a default response or a response with the specified code? You don't need to define the response schema - all you need is a proper entry in the `responses` section. Check out [the documentation](https://swagger.io/docs/specification/2-0/describing-responses/) for more information and examples.

Note that you don't need to defin

[2017-12-18 18:07] jessemyers opened #339 "umsgpack is not a dependency"
Nonetheless, it is imported in `bravado/http_future.py`

[code]

This is breaking.

[2017-12-18 19:31] jessemyers commented on #339
Supeceded by #341

[2017-12-18 20:14] #339 closed

[2018-01-16 04:53] bdowling opened #342 "Initial load speed improvements, caching best practices?"
I'm curious if there are any best practices for improving the initial load/parsing process.  e.g. I was wondering if anyone has attempted to use pickle or shelve at any stages to try to provide for a cache to load the schema faster.

I understand this is somewhat counter to the originally stated goal of the project.  It's noticeable in a CLI use case I was working, e.g. when the API queries take c

[2018-01-16 14:18] Vadiml1024 opened #343 "Digest Authentication"
I've needed to implement Digest auth for swagger generated API...  I've come out  with following:
(maybe **_set_digest_auth_** method should be added as standard feature)

[code]

[2018-01-17 02:00] bplotnick opened #344 "Not all Fido timeout errors are caught"
There are some twisted errors that occur with low request timeout (the timeout passed in `_request_options`). The ones i've seen are `twisted.internet.error.DNSLookupError` and `twisted.internet.error.ConnectingCancelledError`. These seem like more general errors, but I think they occur because of the fact that the request timeout cancels the twisted deferred.

Either way, if you set the request t

[2018-01-17 02:07] bplotnick commented on #342
@bdowling I don't think the spec object is pickleable. A common pattern is to do one or both of the following:

1) memoize creating the client with something like [lru_cache](https://docs.python.org/3/library/functools.html#functools.lru_cache)
2) store the swagger json file locally, and load it with `SwaggerClient.from_spec`. This at least saves on the network call.

[2018-01-17 02:12] bplotnick commented on #284
@macisamuele #321 fixed this, right?

[2018-01-17 08:35] macisamuele commented on #284
Yes, it does. Sorry for not have commented on this issue.
Note: the PR does not handle connection timeouts (for those the exception
is still dependent on the http client implementation)

[2018-01-18 00:31] bplotnick commented on #284
@macisamuele No worries. I'll leave this issue open for the connection timeout addition. Thanks!

[2018-01-18 19:16] jones77 opened #345 "How to specify basepath when loading swagger.json from_url?"
Looks like you used to be able to configure the swagger basepath, using `api_base_path` in the following: https://github.com/Yelp/bravado/pull/86

But looks like this got removed.  I can see `base_path` in https://github.com/Yelp/bravado/blob/master/bravado/swagger_model.py (with some "what's this?"-style TODOs) but it's unclear how to invoke it from https://github.com/Yelp/bravado/blob/master/bra

[2018-01-19 08:01] vavdagic opened #347 "Operation object?"
I have this example:

`operation = client.tag.opIdName.operation`,

then let's say I am listing all elements of the operation:

[code]

Is there any documentation about this "operations" object and all other possible objects on `client.tag.opIdName`, also how does this operation.params.items() work?

Thank you

[2018-01-25 11:13] PascalVA commented on #311
I never got any response on my request to do a PR, so we solved it by overwriting the requestsFutureAdapterRestulHook directly in our openapi client.

I will definately give your solution a try!

[2018-01-29 05:10] bdowling opened #349 "list_models to match get_models, maybe list_resources too"
Curious if others think it makes sense that there should be a `list_models` to correspond to `get_models` so that an implementation can easily enumerate them.  While you could reach into `client.swagger_spec.definitions`, that feels a little like it is reaching too far with get_models hiding the implementation details.  As I was implementing this I also considered a `list_resources`, but then I re

[2018-01-30 06:17] benfiola opened #350 "Default parameters are not unmarshalled correctly"
Long story short, I'm trying to use bravado to auto-generate a client around a versioned API.

Let's say I have these endpoints.

[code]

When a user requests a swagger spec, they might ask for something like`/api/swagger/json/2.0.0`, which will give them something like so:

[code]

The goal here is to have the user specify up front that they want to use a specific version of the API and no longer

[2018-01-31 02:21] bdowling commented on #349
Any thoughts?  Also curious why `_get_resource` is semi-private with the leading underscore...

[2018-01-31 05:53] bdowling commented on #350
@benfiola I think you've fallen victim to the `default parameters trap`.  In openapi, the 'default' values are what is assumed by the API.  The comment above is saying the other end of the pipe, meaning the server will assume the default values if they were provided.  Bravado (or any other openapi client) does not inject those spec defaults into your query, it skips them to save bandwidth.  You'll

[2018-01-31 06:51] benfiola commented on #350
Hey @bdowling - thanks for responding!  Sounds reasonable enough - I'll close this for now.

[2018-01-31 06:51] #350 closed

[2018-01-31 10:28] sjaensch commented on #349
I don't think accessing the swagger spec for getting to models and resources is a problem. Typically you don't need those, and if you do you probably should be comfortable working with the spec object.

Since SwaggerClient dynamically adds attributes to itself, using a leading underscore for non-dynamic ones makes sense to avoid name clashes. So _get_resource is not private. Due to backwards compa

[2018-01-31 10:28] #349 closed

[2018-02-19 03:30] bdowling opened #352 "Handling next and previous pagination of results"
I'm looking for an example of dealing with pagination in the case where the API provides a next/previous URL for you to follow.

It is not clear to me if there is a streamlined way of handling this in Bravado already, but I was attempting to craft a wrapper class that would handle this in my schema.  If there is and someone can point me to the light I'd be happy to write some additional docs aroun

[2018-03-01 18:06] bdowling commented on #352
Thoughts on this?

[2018-03-09 12:22] andresriancho opened #355 "Generating HTTP requests from Open API file"
I'm in the process of extending a web application security scanner to be able to find security flaws in REST APIs which are documented using open api.

In order to do that, I'm using bravado to parse the open api doc and generating the HTTP requests associated with each operation.

I've found that it is harder than I thought. Do you guys know of any external tool or feature within bravado that wil

[2018-03-23 10:48] Vadiml1024 opened #356 "Downloading large files"
I'm using bravado to access server where certain requests results in big file download.
It does work but uses large amount of ram as .result() method returns a full content of downloaded file.
It there a possibility to cause bravado to return some kind of Stream object to avoid excessive memory consumption?

[2018-03-26 14:17] sjaensch commented on #356
No supported option unfortunately. :( This would be a nice enhancement; it does require adding something to the HTTPFuture interface, plus HTTP client work.

[2018-04-02 03:44] bdowling commented on #352
@macisamuele @sjaensch have any input on this?  Seems like a common need, lots of APIs are designed to return URL refs back into the API, next/prev is just another case of that.  How can one generically map those URLs back into the swagger client so you can fetch the model they point to?  There is a convert_path_to_resource method, but this doesn't go deeper into the operation or path parameters e

[2018-04-06 06:26] bdowling commented on #352
I came up with this, feels like I'm doing something that there should already be an easier way to do.  Ideally I was thinking that with the `format: url` and `x-operationId: some_op` that I added into my schema, I could return back a custom type for the URLs in the response that could have a `next.fetch()` function.  Looks like currently `unmarshall_schema_object` isn't passed enough info though t

[2018-04-06 13:25] sjaensch commented on #352
@bdowling I guess the main reason there isn't a single dict to look up operation IDs is that up to this point bravado doesn't need it. :)
This could be an interesting feature, and if it doesn't cause too many issues in terms of code architecture, I could see bravado adopting this feature from OpenAPI 3.0. Pull requests always welcome. ;)

[2018-05-16 16:04] yiyusheng opened #361 "How to visit API url by a proxy?"
I am a newbee to bravado and I try to visit API url by a proxy, just like

But I don't know where to put my proxy settings even after I checked #4946.

[2018-05-24 22:33] bedge commented on #296
I need this too, except with pem certs. Works with swagger-codegen (but it has other problems).

[2018-05-24 22:47] bedge commented on #311
I need both, @bwalsh's fix for client cert authentication and the option to use verify=False to the requests layer to disable server cert validation.
Without both of these it's just not adaptable to the variety of dev/qa/prod instance one needs.

[2018-05-28 15:34] macisamuele opened #363 "requests.exception.ReadTimeout import error with 2.0<=requests<2.4"
Context on https://github.com/Yelp/bravado-core/issues/271
Long story short: bravado uses `requests.exception.ReadTimeout` which was added into requests==2.4.0; the current min required version of `requests` is 2

[2018-05-28 15:43] sjaensch commented on #363
Fixed in #364.

[2018-05-28 15:43] #363 closed

[2018-05-30 07:12] macisamuele commented on #311
Hello all ... sorry for the super late reply.
I would say that the raised issue is valid and worthy to be addressed, unfortunately I have no bandwidth to do that in the next weeks.
@PascalVA could you still publish a PR addressing the issue?

[2018-05-30 07:16] macisamuele commented on #296
Hello @openfly and @bedge ,
it's not clear to me what exactly are you proposing to address. Could you detail a bit more?
Knowing the use-case could simplify further discussions

[2018-05-30 15:00] bedge commented on #296
I have an API where the client needs to authenticate by providing a .pem cert. Similar to how one needs to import a cert into the browser before accessing a web site. Seems to be a common auth method with internal corporate web assets.
Ideally one would also be able to provide a passphrase at request time, but thats not a requirement as one can repackage the cert to not require a passphrase.

[2018-05-31 07:32] PascalVA commented on #311
Hey,

I will try to make some time for it soon. I tried to setup a clean venv with dev requirements yesterday, but the tests kept failing.

[2018-06-06 17:22] kmsquire commented on #345
I also ran into this issue.  In my case, I got around it by downloading and modifying the swagger spec file (injecting the new/proper host name), but I would love for this part of the API to be re-enabled.

[2018-06-11 18:42] openfly commented on #299
So this is more a bug with requests than bravado.
https://github.com/requests/requests/issues/1081 <-- requests maintainer basically refuses to support multipart format correctly because he doesn't like how it changes the python module.
https://franklingu.github.io/programming/2017/10/30/post-multipart-form-data-using-requests/ <-- may be a work around... ie setting a None for the file attachment,

[2018-06-11 18:46] openfly commented on #299
http://toolbelt.readthedocs.io/en/latest/uploading-data.html#streaming-multipart-data-encoder
the toolbelt has a much more robust solution to the issue.

[2018-06-11 18:47] openfly commented on #299
Been a while but ended up revisiting my work around for this in my code.  And I had more info on the issue to add here.

[2018-06-14 04:25] aviskase opened #373 "Should not rewrite custom auth headers from _request_options"
Hi, I'm using bravado for end-to-end checks. One use case is :
1. Use `default_apikey` for every request
2. Create `new_apikey` using API
3. Check that requests with `new_apikey` applied work.

Currently to make this work one should wrap SwaggerClient/RequestsClient or create separate SwaggerClients for each api key. Reason is that `ApiKeyAuthenticator.apply` overwrites any custom auth headers fro

[2018-06-15 12:05] Vadiml1024 commented on #361
I'm doing it like this:

[code]

[2018-06-15 12:16] Vadiml1024 commented on #291
Here is the working code:
The specs:

[code]

The call:

[code]

[2018-07-03 06:00] frankandrobot opened #380 "Cannot use boolean query parameter"
An endpoint is programmed to accept a boolean as an query parameter:

[code]

Unfortunately, under the hood, we're using a JSON parser to parse query parameters. That means that because bravado sends "F" and "T" that I am unable to set this parameter; otherwise I get a 400:

[code]

How do I send a `true`/`false` instead?

[2018-07-03 07:20] macisamuele commented on #380
@frankandrobot thanks for the report

This seems related to https://github.com/Yelp/bravado-core/issues/281

[2018-07-29 16:42] machinekoder opened #385 "ValidationError: do not match any of the regexes:"
When I try to swaggerize the shoeboxed API I get the following error:
[code]
The full error message can be found here:
https://gist.github.com/machinekoder/7fc53b2cc2235210d317aebc27a6351a

The client code is something along the lines of:
[code]

[2018-08-21 01:15] AndrewPau opened #387 "Support for generating enums from swagger file in clientlib"
Enums declared in swagger files currently don't get generated in their corresponding clientlibs. It would be useful for clients to easily and programmatically access all enum values in the clientlib in the form of an array or set, instead of manually looking through the swagger file. This would help clients avoid having to guess enum input values/spelling mistakes and waiting for a failure respons

[2018-08-23 16:03] thejohnfreeman opened #388 "Can I get CSV in my response?"
I have a service that defines `"produces" : [ "application/json", "text/csv" ]` for a path. I'd like to tell Bravado that I want the response result as CSV. Is that possible?

[2018-08-23 17:18] sjaensch commented on #387
Hey @AndrewPau, that's a great suggestion! The generated type annotations are not part of the bravado library however, but of our generated clientlibs which are not open source. Could you refile your request as a ticket in the COREBACK project? Thanks!

[2018-08-23 17:18] #387 closed

[2018-09-25 14:04] lunne opened #389 "set_api_key is not working"
Hi,
[code]
It doesn't seems like this adds anything to the request.
![image](https://user-images.githubusercontent.com/7102889/46019286-07bd8880-c0dc-11e8-81ba-f5a343fee703.png)

Thats a dump from the package going from the client. the uri should be &api_key=token ?
I have tried with headers also and its **not** setting that in the requests either.

so the set_api_key doesn't seem to work.

[2018-09-25 19:42] lunne commented on #389
This is not an issue.. I looke through the code and found that paramter host='api.yourhost.com' must be set to the host of the API. :)

[2018-09-25 19:42] #389 closed

[2018-09-26 22:01] jianlwu commented on #278
i hit the same issue and looking for the solution, anywhere we can override the verify=False?

[2018-10-03 21:29] bplotnick opened #390 "BravadoTimeoutError should be pickleable"
We hit this today where a worker process raises a timeout error and then it tries to get sent to the master process. However the timeout errors are not pickleable so they cannot be sent to the master process.

I'm not sure what's involved in this, but it seems like this would help a little bit with edge case usability.

[2018-10-04 12:56] lcofre commented on #278
Hi @macisamuele

Thanks for your explanation about `REQUESTS_CA_BUNDLE`
Sadly I couldn't make it work for bravado.

For the requests library I do the following:
[code]
I load the spec from the site so I added a print of the environment variable
[code]
And the environment var is printed correctly but load_spec() get an exception that ends with:
[code]

Thank you very much in advance for your help.

[2018-10-05 14:38] sjaensch commented on #278
I'm going to reopen this issue and start working on it since it pops up from time to time; we should add a possibility to set SSL verification for the HTTP client.

[2018-10-09 13:34] PascalVA commented on #278
Hey @sjaensch,

I did not get around to making a PR since I've been very busy on other projects and did not easily get the test setup up and  running. When you finish, you can also close this issue:
https://github.com/Yelp/bravado/issues/311

[2018-10-19 09:31] #311 closed

[2018-10-22 10:34] rubyshamir opened #393 "Direct access to binary content without encoding"
Hello and thanks for this great software!

We have a swagger definition containing a "GET" command returning a large file (format: "application/octet-stream").

The current implementation of response() eventually calls "unmarshal_response_inner" in "http_future.py". This method does not have a specific handling for binary data and encodes the data to string.

On large files, like in our case, this

[2018-10-22 10:37] rubyshamir opened #394 "Slow handling response of large binary files (application/octet format)"
Hello and thanks for this great software!

We have a swagger definition containing a "GET" command returning a large file (format: "application/octet-stream").

The current implementation of response() eventually calls "unmarshal_response_inner" in "http_future.py". This method does not have a specific handling for binary data and encodes the data to string.

On large files, like in our case, this

[2018-10-22 10:41] rubyshamir commented on #393
Duplicated message by mistake

[2018-10-22 10:41] #393 closed

[2018-10-30 01:33] YunchengLiao opened #395 "Write generated swagger client into file"
Bravado can generate a swagger client for me from some file or URL. But say, if I want this client to be statically part of my code structure so that Pylint can help work with it. How can I generate static python code with bravado?

Even better, I can write a script in my project to update the generated swagger code whenever, and Pylint or compiler can find the issue before running it.

[2018-10-30 01:42] amancevice commented on #395
It sounds like you could use the [swagger-codegen](https://github.com/swagger-api/swagger-codegen) tool for this instead of bravado.

[2018-11-28 21:16] jakebiesinger opened #398 "Support for GCP Service Account authentication?"
Hi!

New to Bravado. We use GCP service accounts extensively and I'd like to combine them with Bravado. Is this currently possible?

GCP provides a client library that's also based on Requests, but you have to use their AuthenticatedSession object to do so, which seems at odds with your direct usage of requests.Request.

Thoughts?

[2018-11-28 21:33] jakebiesinger commented on #398
At first blush, it looks like we could simply provide an optional `requests.Session` object, one which we'd generate from Google's client library. We could provide the session to the `RequestsClient` constructor:

https://github.com/Yelp/bravado/blob/627f6c935ec45f16478f40ef98f1871faa5c03f7/bravado/requests_client.py#L106

[2018-11-29 10:06] macisamuele commented on #398
Checking https://cloud.google.com/compute/docs/tutorials/python-guide looks like the GCP python client exposes Google Cloud Platform apis via methods and not Swagger specs, so it shouldn't be usable with bravado.

@jakebiesinger: I'm probably misunderstanding your request, so I would ask if you could describe (maybe with a snippet) what are you trying to achieve.

[2018-11-29 21:05] jakebiesinger commented on #398
Sorry this was unclear.

I'm not trying to call Google APIs as if they were Swagger endpoints. Rather, I'm trying to call one of our own APIs (which *is* a Swagger endpoint), but to have that call authenticated as a GCP Service Account.

The way non-swagger APIs would normally do this is to grab credentials for the service account and make POST or GETs using Google's own `requests`-based client li

[2018-12-11 01:28] derekleegh opened #400 "Mapping operationId with paths and operations"
Hi, I am wondering if bravado supports the mapping between operationId with the paths and operations?

For example using the https://petstore.swagger.io/v2/swagger.json,
** the pet.getPetById(petId=111) is same as the url: https://petstore.swagger.io/v2/pet/111 **

Can we have a function to map this 2 together? so user does not need to know the operationId and by providing the url and we can map i

[2018-12-19 14:14] LourensVeen opened #401 "AttributeError: 'NoneType' object has no attribute 'setdefault' if HTTP_PROXY is set"
Okay, this was a nice bit of detective work. I'm calling SwaggerClient.from_url(...), which gives me
[code]
This seems to be caused by a bug in Bravado. In particular, in requests_client.py on line 305, requests.Session.merge_environment_settings is called with None for the `proxies` (second) parameter, which will work as long as no HTTP_PROXY or similar environment variable is set, but will raise

[2018-12-19 16:47] sjaensch commented on #401
Thanks for reporting the issue @LourensVeen! That looks like a simple fix indeed, I'll prepare a PR.

[2019-01-03 13:16] #401 closed

[2019-01-03 13:30] sjaensch commented on #401
The fix has been released as part of bravado 10.2.2.

[2019-01-04 12:41] lunne opened #404 "Error 400 does not have response"
Im not getting the reponse from the raised error as expected.
e.response is "400 BAD REQUEST"

[code]

When the api returns a 400 the response body is this but this is not included in the raised error:
{
  "message": "Object xxx already exists. Please change the object number"
}

this is the client config:
[code]

[2019-01-04 14:10] lunne commented on #404
This was not an issue.. I must have done something wrong..

[2019-01-04 14:10] #404 closed

[2019-01-08 15:05] shawnsarwar opened #405 "Vulnerability in PyYAML"
Bravado requires pyyaml, which currently has a known critical bug on versions < 4.2.1

![selection_027](https://user-images.githubusercontent.com/4309669/50838664-db620b00-135e-11e9-9da9-2d3a4dba5dd2.png)

Here'e a related thread from the pyyaml [board:](https://github.com/yaml/pyyaml/issues/243)

[2019-01-21 12:15] JoshuaC3 commented on #389
@lunne is that the base url or the auth url? May you give an example? Many thanks.

[2019-02-11 15:39] greenphire-greg commented on #394
We also encountered this scenario recently and implemented a similar workaround. Would you accept a PR with a change like Ruby has suggested? In our case we are working with Excel files so our content type is `application/vnd.openxmlformats-officedocument.spreadsheetml.sheet`.

[2019-02-11 15:42] macisamuele commented on #394
@greenphire-greg PRs are always welcome 😉

I'm still unsure about what should be the more appropriate return value in case of a response is not json or msg-pack.

[2019-02-11 17:05] greenphire-greg commented on #394
I was hesitant to suggest changing the default return value too. I made a PR in the bravado-core repo, which if accepted I believe will need to be re-implemented here as well? (The distinction between bravado and bravado-core is not totally clear to me.)

https://github.com/Yelp/bravado-core/pull/317

[2019-02-22 02:03] bplotnick opened #409 "is_fallback_result no longer accurate"
`is_fallback_result` always returns `True` as of 10.3.0 due to #403. Specifically the change [here](https://github.com/Yelp/bravado/pull/403/files#diff-dfa77bc847cf31d43435498de902fe9bL146) which makes `exc_info` from an `Optional` to a non-optional `List`.

I made the following one-liner change, which seems to (at least locally) fix our internal package tests that are failing:

[code]

It's weird

[2019-02-27 15:53] #409 closed

[2019-04-21 14:14] advance512 commented on #306
Can anyone recommend any `bravado` alternative that supports OpenAPI 3.0?

[2019-04-21 18:14] reece commented on #306
Here's the best of the packages that I've collected while wandering around the jsonschema and openapi landscape:

* connexion
* python-jsonschema-objects
* fastapi -- uses python classes and typing to infer openapi directly (also see molten)
* postgrest (yes, spelled correctly) -- awesome schema-to-rest API translation, introspected from db schema, with impressive support for pushing authn/z to db

[2019-04-22 23:04] barakalon commented on #306
@advance512 https://github.com/swagger-api/swagger-codegen is probably the most popular tool for generating client code from OpenAPI specifications. It can generate a python client based on OpenAPI 3.

[2019-05-07 23:31] OiCMudkips opened #416 "Not all models get loaded properly"
Loading [this example spec from OpenAPI](https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v2.0/yaml/petstore-expanded.yaml) into bravado doesn't load all of the the models for some reason:

[code]

Here are my (I think relevant) versions:
[code]

This is reproducible with `(python3.7.1, bravado==10.3.2, bravado-core==5.12.0)` (the REPL environment), `(python3.7.1, bravado==10.4.0,

[2019-05-10 10:54] sjaensch commented on #416
This is a bug with the YAML version of the example spec. Note that the [JSON version of the spec](https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v2.0/json/petstore-expanded.json) contains the crucial `type` property. It was added [four years ago](https://github.com/OAI/OpenAPI-Specification/commit/94924733c072fb4784a35be529c37947ea99ed83), but looks like this was never done for

[2019-05-10 10:54] #416 closed

[2019-05-10 12:21] ras44 opened #420 "final readthedocs quickstart example not producing expected result"
The final example at:
https://bravado.readthedocs.io/en/stable/quickstart.html

https://github.com/Yelp/bravado/blame/master/docs/source/quickstart.rst#L94-L110

does not seem to produce a dict.  `print(type(result))` shows an object of the same class as the first example's result: `<class 'abc.Pet'>` and `print(result)` is:

['category', 'id', 'name', 'photoUrls', 'status', 'tags']

[2019-05-10 12:26] sjaensch commented on #420
This works for me, are you sure you passed `config={'use_models': False}` to `SwaggerClient.from_url()`?

[2019-05-10 16:22] ras44 commented on #420
Indeed.  It works now.  My apologies!

[2019-05-10 16:22] #420 closed

[2019-05-13 15:53] ras44 opened #421 "Example using an authorization bearer token"
It would be helpful to see an example using an authentication bearer token similar to the one shown in javascript at https://developers.optimizely.com/x/rest/conventions/#openapi

I am able to create a simple API interface using `requests` module that authenticates correctly and receives a response from the API.  However, when I attempt to add a bearer token in the requests header when using brava

[2019-05-13 22:47] ras44 commented on #421
only way I've been able to get this to work is by adding request headers with each request:
https://bravado.readthedocs.io/en/stable/advanced.html#adding-request-headers

[2019-05-14 11:10] ras44 commented on #421
A minimal example:

[code]

[2019-05-14 11:10] #421 closed

[2019-05-20 13:03] tmo-trustpilot commented on #318
We're also interested in using bravado to handle expected non-20X responses. It's almost exactly the same case, a 404 means a record doesn't exist but that's not an exceptional situation for us so wrapping try catch around everything gets messy.

The pattern in the `requests` library where the response object has a status code and a `raise_for_status` method works well for us in other contexts (ht

[2019-05-20 13:39] macisamuele commented on #318
@tmo-trustpilot I would suggest you a different approach. Bravado HttpFuture does expose the `response` API that allows you to deal with exceptions in a custom way and to have access to the "raw" response.
You might be using something like
[code]
you might read more on https://bravado.readthedocs.io/en/stable/advanced.html#working-with-fallback-results

[2019-05-21 15:25] aviskase opened #422 "rtypes for SwaggerClient.from_url and SwaggerClient.from_spec"
Is there any reason why `SwaggerClient.from_url` and `SwaggerClient.from_spec` have `Spec` as return type instead of `SwaggerClient` ?

https://github.com/Yelp/bravado/blob/384db8ae6e3950edc7cfeb2ba68c50273ceedcd7/bravado/client.py#L120

https://github.com/Yelp/bravado/blob/384db8ae6e3950edc7cfeb2ba68c50273ceedcd7/bravado/client.py#L91

If it's a bug, I can do a pull request, but as I understand w

[2019-05-21 15:52] macisamuele commented on #422
@aviskase That's definitely a bug in the type hints provided in the doc strings.
As you noticed I was working on a branch to provide more consistent type checking, but I got not enough time to cross-check the whole library (including docstrings).

If you could open a PR that would be really great ;)

[2019-05-22 16:22] #422 closed

[2019-05-22 16:33] vovanec commented on #343
+1 , this seems to be useful

[2019-05-22 16:38] macisamuele commented on #405
@shawnsarwar bravado depends on PyYAML but it does not have requirement for a certain version of the library.
Would be acceptable to add in your dependencies a min requirement for PyYAML such that the security of the final product is not impacted?

[2019-05-22 16:40] macisamuele commented on #343
This might be integrated into https://github.com/Yelp/bravado/blob/0d2ef182df4eb38641282e2f839c4dc813ee4349/bravado/requests_client.py#L96

I have no bandwidth to do it at the moment but PRs are always welcome :smiley:

[2019-05-27 07:28] tmo-trustpilot commented on #318
@macisamuele, thanks for the suggestion :+1:
Using fallback results and sentinel objects seems like it's a lot of complexity for a fairly standard use case, maybe that's a sign the interface could be improved?

[2019-06-03 09:13] daurnimator commented on #304
Seems like you can do `print(client.release.ReleaseList.__doc__)` instead.

[2019-06-13 10:27] JoshuaC3 opened #424 "Add setup_requires or a requirements.txt to improve pip installs."
On occasions, when installing bravado into a directory using pip, the requirements are not installed to the directory. After some searching, I found [this](https://stackoverflow.com/questions/35516059/python-is-not-installing-dependencies-listed-in-install-requires-of-setuptools) which hints a package would benefit from having these listed in the `setup_requires` as well as `install_requires` in t

[2019-06-13 11:39] sjaensch commented on #424
As was pointed out in a comment to the SO answer, `setup_requires` is for dependencies as install time while `install_requires` is for runtime dependencies. As the other SO answer pointed out, more likely than not the issue for the person asking the question was related to them providing a `cmdclass` argument.

Either way, this is not a bug in bravado - doing `pip install bravado` _will_ install a

[2019-06-13 12:31] JoshuaC3 commented on #424
Point taken. Thanks for clarifying.

[2019-06-13 12:31] #424 closed

[2019-08-18 04:00] asottile commented on #227
seems this is no longer an issue

[2019-08-18 04:00] #227 closed

[2019-09-26 03:26] uniqueg commented on #389
@JoshuaC3: Bit late, but I just had the same problem so I should I'd share:

You need to pass the root URL without schema and path as is given in the example (`api.yourhost.com`).

Another example:

- Full URL to your API: `https://my.api.info/v1/some-endpoint`
- What to supply to the `path` param: `my.api.info`

Full usage:
[code]

[2019-10-06 23:13] mst-ableton commented on #306
It looks like [openapi3](https://github.com/Dorthu/openapi3) might be a viable replacement, as it can be used as a client. You have to manually download the schema and load it as JSON/YAML, but once loaded in the library can make API calls as defined by the spec.

[2019-10-16 14:39] andriis opened #434 "[question] Are there any plans for a new release of bravado?"
The last release was done in May 2019. Are there plans to release a new minor version?

[2019-10-16 16:05] sjaensch commented on #434
Good point, I cut a release, 10.4.2 is out now!

[2019-10-16 16:05] #434 closed

[2019-10-31 15:48] pastet89 opened #437 "How to get server response messages in the event of HTTP error codes?"
When the request fail with a HTTP error, sometimes the server sends a response code.
However, in that case bravado fails with its own exceptions, the program breaks. The server response is included as a string in the bravado exception.
However, this is not useful.

How can my program get the response message in a JSON/dict format without crashing and do something because of it? Handling exceptions

[2019-10-31 16:09] pastet89 commented on #437
Just saw I can do this by referring to the ```swagger_result``` attribute of the exception.

[2019-10-31 16:09] #437 closed

[2019-11-04 05:30] SimonZgx opened #438 "Can not pass a parameter whose name is python keyword"
When I try to use bravado and Swagger to build REST APIs client, there is a problem that I can't pass a parameter whose name is python keyword.

For instance, I need a variable named "from" that in python is a key word. My code is:

[code]

Because `from` is a keyword in python, so there is a syntax error.

So I have to add this code in the call function to change the variable name

[code]

Can yo

[2019-11-04 14:57] sjaensch commented on #438
Unfortunately, there is currently no code in bravado that deals with Python reserved keywords. The solution is to use a dict to pass the arguments:

[code]

[2019-11-05 03:47] SimonZgx commented on #438
got it, thanks.

[2019-11-05 03:47] #438 closed

[2019-11-05 12:35] cdunklau commented on #285
I just ran into this. It looks like individual versions after 10.0.1 don't show up on RTD, but the "latest" and "stable" doc versions there have all the way up to 10.4.3 (currently most recent) in the changelog. The API docs do appear in <=10.0.1, and when I build the docs locally with `tox -e docs`, the API docs do show up in build output... so I suspect an issue with RTD itself or some trouble i

[2019-11-08 12:48] HWiese1980 commented on #306
What's the status here? Is bravado deprecated due to state of the art being OpenAPI 3?

[2019-11-11 10:24] sjaensch commented on #306
@HWiese1980 the fact that there is an OpenAPI 3.0 spec doesn't make this project deprecated. It just means you'll have to use something else to interact with OpenAPI 3 specs.

[2019-11-11 12:49] sjaensch commented on #285
I have no clue what's going on there, this must be caused by the work readthedocs have done this year. The versions are still recognized by them, i.e. I see them in the admin. For some reason they're not automatically marked as "active" anymore. I've done so for the latest version (10.4.3). I've also opened a small PR to remove the broken entry from index.rst, we don't really need it.

[2019-11-11 16:41] cdunklau commented on #285
Thanks @sjaensch! It looks like the 10.4.3 docs suffer from the same issue, https://bravado.readthedocs.io/en/v10.4.3/bravado.html only lists the modules, none of the generated API docs like you can see here https://bravado.readthedocs.io/en/v10.0.0/bravado.html

[2019-11-12 09:48] sjaensch commented on #285
Ah good point @cdunklau - I have no idea why that is. I don't think we changed anything related to how we generate our documentation.

[2019-11-12 16:56] HWiese1980 commented on #306
What's keeping Bravado from becoming OpenAPI 3 compatible?

[2019-11-14 14:12] sjaensch commented on #306
@HWiese1980 the code that does it - feel free to open a pull request! 😄

[2019-11-15 15:13] #285 closed

[2019-11-18 14:29] williehallock802 opened #443 "cannot create SwaggerClient from https URL"
The error I am getting is:

`HTTPSConnectionPool(host='10.10.8.142', port=8088): Max retries exceeded with url: /v2/api-docs (Caused by SSLError(SSLError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:847)'),))`

Now, I assume this is because I need to find a way to pass along the certificate needed to authenticate with the https server, but I am not sure how to do that wit

[2019-11-23 22:43] sjaensch commented on #443
I assume you're using the default HTTP client. In that case pass a `RequestsClient` instance when you create your `SwaggerClient`, and either disable SSL verification or provide the certificate. You can find more information in the [documentation](https://bravado.readthedocs.io/en/stable/configuration.html#customizing-the-http-client),

[2019-11-23 22:43] #443 closed

[2019-12-15 11:55] ASMfreaK opened #446 "Bravado fails to parse Security Definitions in OSS projects"
I'm using two open source projects. Namely - [Grocy](/grocy/grocy) and [Gitea](/go-gitea/gitea), which have their respective specifications hosted on demo instances.
I tried to user their API via [open-cli](/sharbov/open-cli), which in turn uses Bravado. I'm using Arch Linux:
[code]

I've got [this output](https://gist.github.com/ASMfreaK/b96e1c500995e1f0e3a1f48a816c74f6#file-grocy-log) running th

[2019-12-19 18:54] github-user-002 commented on #306
If you or your organization, or any third-party organizations don't have the resources or interest in making this library openAPI 3 compatible, it never will be. Yelp won't have the resources to do it, unless someone takes over the codebase entirely and works on their own fork, this upgrade is too big to happen here.

I want to thank Yelp and its tremendous contributions to this project, but it is

[2019-12-23 16:55] macisamuele commented on #446
@ASMfreaK Thanks for reporting the issue.
Something that I would highlight is that the specifications in https://en.demo.grocy.info/api/openapi/specification are Open Api specifications, while bravado does  support Swagger 2.0 .

Checking the output linked for Gitea I notice a small issue with the Swagger 2.0 Specifications.
The endpoint `/users/{username}/tokens/{token}` does have a `token` path

[2020-02-17 11:27] mattdowdell opened #449 "Bravado should not silently follow redirects"
In my API spec, I have an endpoint that returns a 301 redirect. This redirects to another URL on a different server that subsequently returns a 200. However, because bravado is using requests, this redirect never comes back to bravado which gets the 200 (which is not a specified response) and then throws an error.

Relevant section of logs below. Logs without a prefix for where it came from comes

[2020-02-18 10:25] macisamuele commented on #449
@mattdowell thanks for reporting this.

Ideally we should not follow redirects as APIs are defining the supported status codes.

I'm curious to understand if this behaviour is present only on the requests client or is present also in the fido client or bravado-asyncio client.

I'm currently running short on bandwidth so I cannot ensure the publication of a PR in a reasonable time (let's say a week

[2020-02-18 11:23] mattdowdell commented on #449
Thanks for the quick response @macisamuele.

The fido client calls into twisted at a glance which the docs suggests that it will not follow redirects by default. bravado-asyncio appears to use aiohttp which seems to follow a similar interface as requests and looks to follow redirects by default. All of this is based on navigating unfamiliar code and minimal searching, so take the results with a pi

[2020-02-18 13:45] macisamuele commented on #449
As far as I can tell there are no special agreements to sign.

About the code pointers seems like you have already identified them.
A small request would be to add a specific test into bravado.testing.integration_tests to ensure no further regressions on this.

[2020-02-20 15:20] lordmauve opened #450 "autodoc-generated documentation failing to render"
Currently the autodoc-generated documentation page at

https://bravado.readthedocs.io/en/stable/bravado.html#client-module

appears to be empty. Perhaps the documentation build process is failing to import the library?

[2020-02-20 23:41] sjaensch commented on #450
This has been fixed on master, check out the latest documentation:
https://bravado.readthedocs.io/en/latest/bravado.html

We'll be doing a release soon, which will fix the stable documentation as well.

[2020-02-24 17:12] micahculpepper opened #452 "RPM Packaging"
Hello folks,

Would you be willing to publish RPMs of Bravado in addition to the Python packages you already provide? I've got an application where I would like to use Bravado, but due to restrictions on the environment, I can't install dependencies with pip; I have to use yum.

[2020-02-24 17:30] sjaensch commented on #452
Hey @micahculpepper, that's a very specific request. Feel free to submit a PR that adds support for it - that's the beauty of open source!

Are you sure you need RPMs? Using virtualenv you should be able to install your package just fine. Have you looked into that? Or do you need a system-wide install?

[2020-02-28 08:16] #452 closed

[2020-03-12 16:44] twosigmajab opened #453 "Plans for a new major version of Bravado (e.g. based on Hip)?"
First off, thanks for maintaining Bravado! Just started looking at it, and so far it looks like the best basis for generating Python clients for OpenAPI-enabled services.

When I see all these [HttpFuture](https://github.com/Yelp/bravado/blob/28700d2a4bb19736307fecf7b8e35684c6f2d31d/bravado/http_future.py#L133)-style APIs, I can't help but ask if you've read [this post](https://vorpus.org/blog/not

[2020-03-19 09:20] sjaensch commented on #453
For now we're not in a position to drop Python 2 support. We're also not in a position to require all bravado users to change the way they use bravado, e.g. by requiring them to use a context manager as well.

That said, if you're interested in developing such a version of bravado, please go ahead and do it!

[2020-03-19 09:20] #453 closed

[2020-03-20 08:40] mattdowdell opened #455 "Redirects should not be considered errors"
At the moment, when an API returns a redirect, an exception is raised. This is contrary to the spec, i.e. [RFC 7231](https://tools.ietf.org/html/rfc7231), which considers 4XX and 5XX to be errors, but not 3XX. As such, the exceptions raised when such statuses are returned should be removed to be compliant with the spec.

Follows on from #449 and #454 where it was pointed out that this would be a b

[2020-03-27 20:38] #449 closed

[2020-04-09 09:52] mattdowdell opened #458 "Content-Type in swagger spec is ignored"
I have an endpoint roughly defined as follows in my swagger spec, which I'm using the RequestsClient to intercat with underneath:

[code]

When I send a request to it without any of the required parameters, I get an error back from my server claiming that the Content-Type header is wrong. This is entirely correct as there's no content-type set at all:

[code]

If I sent a request with the non-file

[2020-04-09 14:51] mattdowdell commented on #458
It appears to be something in bravado-core that controls/expects this behaviour. When a file is added, the content-type is checked within the `add_file` function https://github.com/Yelp/bravado-core/blob/3f04ce5d9f5fa8deeff7f76f1f9025e5dd30e888/bravado_core/param.py#L319. I think it may be a case of if the consumes parameter is set to multipart/form-data then only the files parameter should be use

[2020-04-16 12:02] ErikKalkoken opened #459 "Question: How to increase connection pool?"
We are using bravado in our Django app to provide access to an API and it works great so far.

Now we would like to use one bravado client with multiple parallel threads (celery with gevent). But when running with about 30 threads for some time we are getting warnings that the connection pool is exhausted:

[code]

Our assumption is that the urllib connection pool that bravado uses has less connec

[2020-04-16 16:07] analogue commented on #459
Looks like the connection pool configuration is a few layers deep (may not be exact):
[code]

You can create an instance of an [HTTPAdapter](https://github.com/psf/requests/blob/master/requests/adapters.py#L84) passing in your connection pool settings to the constructor.

To use your HTTPAdapter instance, do something like
[code]

This should be enough to get you going down the right path.

[2020-05-15 11:02] guerda opened #460 "SwaggerClient.from_url should have timeout"
The requests in bravado can be configured to have a timeout. Unfortunately, this does not affect the from_url() method.
Would it be possible to add a time out feature in that method, too?

Best,
Philip

[2020-05-28 06:42] guerda commented on #460
Maybe it's possible to insert the timeout into the request headers here:
https://github.com/Yelp/bravado/blob/f8f98c00c3422f977ae44b4ef7e37350b05f6ea5/bravado/client.py#L95

[2020-05-28 08:57] sjaensch commented on #460
We'll need to pass a timeout argument to the [result call](https://github.com/Yelp/bravado/blob/f8f98c00c3422f977ae44b4ef7e37350b05f6ea5/bravado/swagger_model.py#L101). The best option is probably to add a `timeout` argument to [SwaggerClient.from_url](https://github.com/Yelp/bravado/blob/f8f98c00c3422f977ae44b4ef7e37350b05f6ea5/bravado/client.py#L77) and pass it down the call chain. @guerda, woul

[2020-06-02 22:57] ErikKalkoken commented on #459
Took me a while to implement, but I can now confirm that it works. Thanks for your help!

[2020-06-02 22:57] #459 closed

[2020-07-01 19:36] amancevice opened #461 "follow_redirects config option seems to have no effect"
I am attempting to create a Swagger client that follows redirects but I am not seeing the behavior I would expect (it raises `HTTPFound: 302 Found`)

Here is essentially what I am trying to do:

[code]

[2020-07-01 20:23] sjaensch commented on #461
Note that this is a [per-request configuration option](https://bravado.readthedocs.io/en/stable/configuration.html#per-request-configuration), so you'll have to pass it differently. To reuse your example:

[code]

[2020-07-01 20:23] #461 closed

[2020-07-01 23:19] amancevice commented on #461
ah cool, thanks.

[2020-07-07 21:47] sanseihappa commented on #174
How about?
[code]

[2020-09-01 18:16] nikitastupin opened #463 "ValueError: Duplicate model found"
Hi,

I've stumbled upon an error while parsing `https://firefox.settings.services.mozilla.com/v1/__api__` specification:

[code]

I expect it to be parsed OK as `https://inspector.swagger.io/builder` does.

# Versions

[code]

# Steps to reproduce

[code]

[2020-09-01 18:20] nikitastupin commented on #463
As far as I understood we can fix this by not raising https://github.com/Yelp/bravado-core/blob/015a2cd8baf1ecdf0af2739452871ee19bc7b3d1/bravado_core/model.py#L71 exception. However I'm not sure side effects :smiley:

[2020-09-01 20:50] macisamuele commented on #463
@nikitastupin Thanks a lot for reporting this. I've done some investigations, results are down the comment.

**TL;DR;** You could configure bravado to not use models in order to workaround the issue.

[code]

---

**Details**
The reported issue is caused by the fact that `bravado`, using the default configurations, tries to define python classes that represent the models available on the specifica

[2020-09-01 20:50] #463 closed

[2020-09-25 01:43] toptotu opened #464 "Is SSL two-way authentication supported?"
Do I support SSL two-way authentication? If yes, how can I use it?

[2020-11-18 03:08] TristanWYL opened #470 "OverflowError: timeout value is too large"
I encountered the captioned error when running the following script, regardless python versions (3.8/3.7 were both tried).
[code]

The trace stack:

I need to use the async feature of this library, but how can I fix this issue? Please help!

[2020-11-18 19:21] macisamuele commented on #470
@TristanWYL I'm unsure about the error as it is the first time I see something similar.

I've tried to reproduce your script on my laptop (MacOS) and I failed :(
[code]
according to the error seems that the fido client is reacting differently between different platforms.
NOTE: The `FidoClient` is a wrapper around https://github.com/Yelp/fido , so it might be worth asking in there.

Few notes that

[2021-01-14 11:40] dominiquesydow opened #471 "Implement serialization protocol in SwaggerClient class?"
## Issue

Using `bravado`'s `SwaggerClient` in a multiprocessing protocol causes a `RecursionError`.

## Example

Code for minimal example:
[code]

Output:
[code]

## Potential solution

Add serialization protocol in `SwaggerClient` by defining `__getstate__` and `__setstate`.

@jaimergp managed to solve the problem in our `opencadd` package by implementing such a serialization protocol in a [`Ser

[2021-01-16 18:54] macisamuele commented on #471
@dominiquesydow thanks for reporting the issue. It would be great if you could open a PR yourself especially considering that you have found a way to address the issue.

Having such change would allow us to pass the `SwaggerClient` into a process Pool but more in general would allow us to pickle/unpickle the client (which might time consuming for big swagger specs)

[2021-01-18 16:14] dominiquesydow commented on #471
Great, happy to do that within the next days!

[2021-02-01 20:48] JiriHorky opened #473 "Severe performance degradation in uWSGI preforking mode starting from v10.1.0"
Hello,

since version v10.1.0, the bravado client suffers from 2-3x performance degradation in uWSGI's default preforking execution mode. The problem is rather technical and it took us a while to understand what's happening:

Starting from commit f1ea220730b295aa625683eb23fb081fe893562b, the initialization of the bravado client contains import of `twisted.web.client` module.  This, under the hood

[2021-02-23 14:07] ecobee-robbie-dumbrell opened #475 "Nanosecond datetime precision lost when SwaggerClient parses it"
I have a field defined in a `swagger-spec.json` file that sits in an endpoint response definition with:

[code]

The value of `myDateTimeField` in my API goes to nanosecond precision and exists in the following format:

```"2021-02-22T21:09:34.411978573Z"```

When using
```SwaggerClient.from_spec(my_swagger_json).my_api_endpoint().response().result```
and inspecting the result, I can see that the

[2021-02-26 21:41] macisamuele commented on #475
@ecobee-robbie-dumbrell Python `datetime` object does not support nanosecond precision
[code]

Considering this I don't think that this is a lack on the bravado library, but rather a limitation of Python.

NOTE: This is a very know limitation but seems that so far no progress has been done in this direction (https://bugs.python.org/issue15443, https://www.python.org/dev/peps/pep-0410/).

[2021-02-26 21:41] #475 closed

[2021-03-02 10:24] krtek commented on #473
Hi.

We would really need this issue to be resolved. Attaching image with response times from out service with and without the fix in PR #474.

Purple line is average response with current version of Bravado, blue line is average response with applied #474 fix.

![Screenshot 2021-03-02 at 11 21 42](https://user-images.githubusercontent.com/422139/109634412-7f176200-7b49-11eb-96d2-6eb29bc37843.png)

[2021-03-02 18:14] analogue commented on #473
Fixed in 11.0.3

[2021-03-02 18:14] #473 closed

[2021-04-27 14:54] #211 closed

[2021-09-30 10:47] marksutherland opened #478 "jsonschema 4.0.0 removes `compat` module"
The latest version of the jsonschema packages seems to have removed a `compat` module which is causing bravado is issue a stacktrace:

[code]
Pinning < 4.0.0 seems to prevent this.

[2021-09-30 11:01] tirkarthi commented on #478
swagger_spec_validation issue : https://github.com/Yelp/swagger_spec_validator/issues/149

[2021-09-30 12:40] tirkarthi commented on #478
This was an issue with jsonschema release 4.0.0 where python_requires was not honored. This is fixed in https://github.com/Julian/jsonschema/commit/e61dcbcb2a156b8d517c4ee7ea08c8e9e2acfb35 with 4.0.1 released and 4.0.0 yanked.

[2021-10-02 12:35] kpfleming commented on #478
I'm still getting this with jsonschema 4.0.1 installed...

[2021-10-02 12:50] tirkarthi commented on #478
https://github.com/Yelp/swagger_spec_validator/pull/146 needs to be merged.

[2021-11-23 23:23] advance512 commented on #394
Would be nicer to also do this for image/*, audio/*, video/* responses.

[2021-12-09 10:02] dominiquesydow commented on #478
@tirkarthi, it seems like the problem is resolved, right?

[2021-12-09 12:55] tirkarthi commented on #478
I guess so 2.7.4 has been released with the merged fix https://pypi.org/project/swagger-spec-validator/

[2022-08-22 15:16] DiyuanLu opened #481 "bravado.exception.HPPTFound 302"
machine: MacBook Pro M2
python: 3.9.5

I am new to cBioportal. When following the python client tutorial
`from bravado.client import SwaggerClient
cbioportal = SwaggerClient.from_url('https://www.cbioportal.org/api/api-docs',
                                    config={"validate_requests":False,"validate_responses":False,"validate_swagger_spec": False})`
I got the following error.

The following i

[2022-09-01 20:46] sjrothfuss commented on #481
I have the same issue in Python 3.9.12 on a MacBook Air M1. The same thing happens when I try to use [cbio_py](https://pypi.org/project/cbio-py/#description). Have you found a solution?